{% extends 'default.html' %}

{% set active_page = "dashboard" %}

{% block title %}
  Alias Contact Manager
{% endblock %}

{% block default_content %}
  <div class="row">
    <div class="col">
      <h1 class="h3"
        title="给你这个别名邮箱发过邮件的 Email 地址会自动出现在下面的列表里，
               或者你可以自己手动创建联系人。"
      > {{ alias.email }} 的联系人<i class="fe fe-help-circle"></i>
        <a class="ml-3 text-info" style="font-size: 12px" data-toggle="collapse" href="#howtouse" role="button"
           aria-expanded="false" aria-controls="collapseExample">
          如何使用 <i class="fe fe-chevrons-down"></i>
        </a>
      </h1>

      <div class="alert alert-primary collapse" id="howtouse" role="alert">
        <p>
          你想要从你的别名，给别人发送电子邮件，你需要创建一个<em>反向别名</em>，即
          一个特殊的电子邮件地址。<br>
          当你用自己的真实邮箱，向反向别名发送电子邮件时，该电子邮件将<b>从你的别名</b>发送到联系人。
          <br>
        </p>
        <p>
          {% if alias.mailbox_id %}
            {% if alias.mailboxes | length == 1 %}
              一定要从邮箱 <em>{{ alias.mailbox.email }}</em> 发送电子邮件。否则会被本网站拒收。<br>
              <p style="color: red;">这里一定要注意，这里有一个限制。不然别人知道了你的反向别名，谁都可以冒充你了。<p>
            {% else %}
              一定要从以下邮箱之一发送电子邮件：<br>
              {% for mailbox in alias.mailboxes %}
                - <b>{{ mailbox.email }}</b> <br>
              {% endfor %}
              <p style="color: red;">这里一定要注意，这里有一个限制。不然别人知道了你的反向别名，谁都可以冒充你了。<p>
            {% endif %}
          {% else %}
            确保从个人电子邮件地址发送电子邮件 ({{ current_user.email }}).<br>
            <p style="color: red;">这里一定要注意，这里有一个限制。不然别人知道了你的反向别名，谁都可以冒充你了。<p>
          {% endif %}
        </p>
      </div>
    </div>

  </div>

  <form method="post">
    <input type="hidden" name="form-name" value="create">
    {{ new_contact_form.csrf_token }}

    <label class="form-label">你想要发邮件给谁？</label>

    {{ new_contact_form.email(class="form-control", placeholder="名 姓 <email@example.com> 或者 直接填写邮箱地址也可以", autofocus=True) }}
    {{ render_field_errors(new_contact_form.email) }}
    <button class="btn btn-primary mt-2">创建反向别名</button>
  </form>

  <div class="row">
    {% for contact_info in contact_infos %}
      {% set contact = contact_info.contact %}
      <div class="col-md-6">
        <div class="my-2 p-2 card {% if contact.id == highlight_contact_id %} highlight-row {% endif %}">
          <div class="mb-2">
            <span class="font-weight-bold">{{ contact.website_email }}</span>
            {% if contact.pgp_finger_print %}
              <span class="cursor" data-toggle="tooltip" data-original-title="PGP Enabled">🗝</span>
            {% endif %}
          </div>

          <div>
            <span>
              <a href="{{ 'mailto:' + contact.website_send_to() }}"
                 data-toggle="tooltip"
                 title="您可以单击此处打开您的电子邮件客户端。或者使用复制按钮 👉"
                 class="font-weight-bold">*************************</a>

              <span class="clipboard btn btn-sm btn-success copy-btn" data-toggle="tooltip"
                    title="复制反向别名地址"
                    data-clipboard-text="{{ contact.website_send_to() }}">
                    复制反向别名地址
              </span>
            </span>
          </div>


          <div class="mb-2 text-muted small-text">
            {% if contact_info.latest_email_log != None %}
              {% set email_log = contact_info.latest_email_log %}

              {% if email_log.is_reply %}
                <i class="fa fa-reply mr-2" data-toggle="tooltip" title="使用这个别名回复/发邮件"></i>
                {{ email_log.created_at | dt }}
              {% elif email_log.bounced %}
                <span class="text-danger">
                  <i class="fa fa-warning mr-2" data-toggle="tooltip"
                     title="电子邮件被退回，无法转发至您的邮箱"></i>
                  {{ email_log.created_at | dt }}
                </span>
              {% elif email_log.blocked %}
                <i class="fa fa-ban mr-2 text-danger" data-toggle="tooltip" title="邮件被屏蔽"></i>
                {{ email_log.created_at | dt }}
              {% else %}
                <i class="fa fa-paper-plane  mr-2" data-toggle="tooltip" title="电子邮件已发送至别名"></i>
                {{ email_log.created_at | dt }}
              {% endif %}
              <br>
              创建于{{ contact.created_at | dt }} 
            {% else %}
              没活动. 创建于{{ contact.created_at | dt }}
            {% endif %}

            <div>
              <span class="alias-activity">{{ contact_info.nb_forward }}</span> 个转发,
              <span class="alias-activity">{{ contact_info.nb_reply }}</span> 个回复
            </div>
          </div>

          <a href="{{ url_for('dashboard.contact_detail_route', contact_id=contact.id) }}">编辑 ➡</a>

          <form method="post">
            <input type="hidden" name="form-name" value="delete">
            <input type="hidden" name="contact-id" value="{{ contact.id }}">
            <span class="card-link btn btn-link float-right delete-forward-email text-danger">
                  删除
                </span>
          </form>

        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row mt-3">
    <div class="col">
      <nav aria-label="Contact navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="btn btn-outline-secondary {% if page == 0 %}disabled{% endif %}"
               href="{{ url_for('dashboard.alias_contact_manager', alias_id=alias.id, page=page-1) }}">
              上一页</a>
          </li>
          <li class="page-item">
            <a class="btn btn-outline-secondary {% if last_page %}disabled{% endif %}"
               href="{{ url_for('dashboard.alias_contact_manager', alias_id=alias.id, page=page+1) }}">
              下一页</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}


{% block script %}
  <script>
    $(".delete-forward-email").on("click", function (e) {
      let that = $(this);

      bootbox.confirm({
        message: "与此联系人相关的所有活动也将被删除，请确认。",
        buttons: {
          confirm: {
            label: '是的，删除它',
            className: 'btn-danger'
          },
          cancel: {
            label: '取消',
            className: 'btn-outline-primary'
          }
        },
        callback: function (result) {
          if (result) {
            that.closest("form").submit();
          }
        }
      })


    });
  </script>
{% endblock %}