{% extends 'default.html' %}

{% block title %}
  API Key
{% endblock %}

{% set active_page = "api_key" %}

{% block head %}
{% endblock %}

{% block default_content %}
  <div class="row">
    <div class="col">
      <h1 class="h3"> API Key
        <a class="ml-3 text-info" style="font-size: 12px" data-toggle="collapse" href="#howtouse" role="button"
           aria-expanded="false" aria-controls="collapseExample">
          API Key 是什么？ <i class="fe fe-chevrons-down"></i>
        </a>
      </h1>

      <div class="alert alert-primary collapse" id="howtouse" role="alert">
        <!-- SimpleLogin 浏览器扩展程序使用 API 密钥。
        <br><br>您可以通过以下链接安装官方 SimpleLogin 浏览器扩展程序：
        <a href="https://chrome.google.com/webstore/detail/dphilobhebphkdjbpfohgikllaljmgbn"
        target="_blank" rel="noopener">Chrome<i class="fe fe-external-link"></i></a>,
        <a href="https://addons.mozilla.org/firefox/addon/simplelogin/"
        target="_blank" rel="noopener">Firefox<i class="fe fe-external-link"></i></a> &
        <a href="https://apps.apple.com/app/id1494051017"
        target="_blank" rel="noopener">Safari<i class="fe fe-external-link"></i></a>
        <br>
        <span class="text-danger"> -->
        ⚠️API密钥应保密并像密码一样对待，它们可用于访问您的帐户。
        </span>
      </div>

      <div class="row">
        {% for api_key in api_keys %}
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ api_key.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {% if api_key.last_used %}
                    上一次使用于: {{ api_key.last_used | dt }} <br>
                    使用了: {{ api_key.times }} 次.
                  {% else %}
                    从未使用过
                  {% endif %}
                </h6>

                <div class="input-group">
                  <input class="form-control" id="apikey-{{ api_key.id }}" readonly value="**********">
                  <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fe fe-eye toggle-api-key" data-show="off" data-secret="{{ api_key.code }}"
                  ></i>
                </span>
                  </div>
                </div>

                <br>

                <div class="row">
                  <div class="col">
                    <button class="clipboard btn btn-primary" data-clipboard-action="copy"
                            data-clipboard-text="{{ api_key.code }}"
                            data-clipboard-target="#apikey-{{ api_key.id }}">
                      复制 &nbsp; &nbsp; <i class="fe fe-clipboard"></i>
                    </button>
                  </div>

                  <div class="col">
                    <form method="post">
                      <input type="hidden" name="form-name" value="delete">
                      <input type="hidden" name="api-key-id" value="{{ api_key.id }}">
                      <span class="card-link btn btn-link float-right text-danger delete-api-key">
                    删除
                  </span>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <form method="post">
        {{ new_api_key_form.csrf_token }}
        <input type="hidden" name="form-name" value="create">
        <h2 class="h4">新建 API Key</h2>

        {{ new_api_key_form.name(class="form-control", placeholder="Chrome") }}
        {{ render_field_errors(new_api_key_form.name) }}
        <div class="my-2 small-text">API 密钥的名称，例如它将在何处使用。</div>

        <button class="btn btn-lg btn-success mt-2">创建</button>
      </form>


    </div>

  </div>
{% endblock %}

{% block script %}
  <script>
    $(".delete-api-key").on("click", function (e) {
      let that = $(this);

      bootbox.confirm({
        message: "您确定该 API Key 已经不再使用了吗？<br />删除使用中的 API Key 可能会导致某些应用程序无法正常工作。",
        buttons: {
          confirm: {
            label: '我确定，删除',
            className: 'btn-danger'
          },
          cancel: {
            label: '取消',
            className: 'btn-outline-primary'
          }
        },
        callback: function (result) {
          if (result) {
            that.closest("form").submit();
          }
        }
      })


    });

    $(".toggle-api-key").on('click', function (event) {
      let that = $(this);
      let apiInput = that.parent().parent().parent().find("input");
      if (that.attr("data-show") === "off") {
        let apiKey = $(this).attr("data-secret");
        apiInput.val(apiKey);
        that.addClass("fe-eye-off");
        that.removeClass("fe-eye");
        that.attr("data-show", "on");
      } else {
        that.removeClass("fe-eye-off");
        that.addClass("fe-eye");
        apiInput.val("**********");
        that.attr("data-show", "off");
      }

    });
  </script>
{% endblock %}
