{% extends 'default.html' %}

{% block title %}
  账单
{% endblock %}

{% block head %}
{% endblock %}

{% block default_content %}
  <div class="card">
    <div class="card-body">
      <h1 class="h3 mb-5"> 账单 </h1>

      {% if sub.cancelled %}
        <p>
          您使用的是 <b>{{ sub.plan_name() }}</b> 计划。<br>
          您已取消订阅，订阅将于 {{ sub.next_bill_date.strftime("%Y-%m-%d") }} 过期
        </p>

        <hr>
        <p>
          如果您改变主意，可以再次订阅 SimpleLogin，但请注意，这将是一个全新的订阅，并且您的付款方式将<b>立即</b>扣款。
          <br>
          我们将在订阅结束时向您发送一封电子邮件，因此您也许可以在那时升级。
          <br>
          <a href="{{ url_for('dashboard.pricing') }}" class="btn btn-primary mt-2">重新订阅</a>
        </p>

      {% else %}
        <p>
          您使用的是 <b>{{ sub.plan_name() }}</b> 计划。非常感谢您支持
          SimpleLogin。🙌 <br>
          下一个计费周期从 {{ sub.next_bill_date.strftime("%Y-%m-%d") }} 开始。
        </p>

        <div class="mt-3">
          点击此处更新我们的付款合作伙伴 Paddle 的账单信息：<br>
          <a class="btn btn-outline-success mt-2" href="{{ sub.update_url }}"> 更新账单信息</a>
        </div>
        <hr>
        <div class="mt-6">
          <h4>修改付费计划</h4>
          您可以随时更改计划。<br>
          请注意，新的计费周期立即开始
          即，当您从月度计划切换或反之亦然时，您将<b>立即</b>支付年费
          <b>无需按比例计算</b>。<br>

          要更改计划，您也可以取消当前计划并在<b>该计划结束</b>前订阅新计划。

          {% if sub.plan == PlanEnum.yearly %}
            <form method="post" onsubmit="return confirm('This will change your current subscription plan, please confirm');">
              <input type="hidden" name="form-name" value="change-monthly">
              <button class="btn btn-outline-primary mt-2">Change to Monthly Plan</button>
            </form>
          {% else %}
            <form method="post" onsubmit="return confirm('This will change your current subscription plan, please confirm');">
              <input type="hidden" name="form-name" value="change-yearly">
              <button class="btn btn-outline-primary mt-2">改为年付</button>
            </form>
          {% endif %}
        </div>

        <hr>

        <div>
          <h4>取消订阅计划</h4>
          不想再保护您的收件箱了吗？ <br>

          <form method="post">
            <input type="hidden" name="form-name" value="cancel">

            <span class="cancel btn btn-outline-danger mt-2">
            取消订阅 <i class="fe fe-alert-triangle text-danger"></i>
          </span>
          </form>

        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block script %}
  <script>

    $(".cancel").on("click", function (e) {
      let that = $(this);

      bootbox.confirm({
        message: "This operation is irreversible, please confirm.",
        buttons: {
          confirm: {
            label: 'Cancel subscription',
            className: 'btn-danger'
          },
          cancel: {
            label: 'Close',
            className: 'btn-outline-primary'
          }
        },
        callback: function (result) {
          if (result) {
            that.closest("form").submit();
          }
        }
      })
    });

  </script>
{% endblock %}