{% extends 'default.html' %}
{% set active_page = "setting" %}
{% block title %}
  SUDO MODE
{% endblock %}


{% block default_content %}
  <div class="card">
    <div class="card-body">
      <h1 class="h2">进入高级设置</h1>
      <p>
        您正在尝试更改敏感设置
      </p>
      <p>
        请输入您的账户密码，以便我们确认您的身份。
      </p>

      <form method="post">
        {{ password_check_form.csrf_token }}

        <div class="font-weight-bold mt-5">密码</div>

        {{ password_check_form.password(class="form-control", autofocus="true") }}
        {{ render_field_errors(password_check_form.password) }}
        <button class="btn btn-lg btn-danger mt-2">提交</button>
      </form>

    </div>
  </div>
{% endblock %}