{% extends 'default.html' %}

{% set active_page = "dashboard" %}

{% block title %}
  延长订阅时间
{% endblock %}

{% block default_content %}
  <div class="card">
    <div class="card-body">
      <h1 class="h2">延长订阅时间</h1>

      <p>
        您的订阅已于 {{ coinbase_subscription.end_at.format("YYYY-MM-DD") }}
      </p>

      <div>
        <a class="buy-with-crypto" data-custom="{{ current_user.id }}"
           href="{{ coinbase_url }}">
           延长 1 年 - $30
        </a>
        <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
        </script>
      </div>

      <div class="mt-2">
        确认付款后，您的订阅将延长，我们将向您发送确认电子邮件。<br>
        请注意，处理加密货币付款可能需要长达 1 小时。
      </div>

    </div>
  </div>


{% endblock %}
