{% extends 'default.html' %}
{% set active_page = "setting" %}
{% block title %}
  安全密钥设置
{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='node_modules/qrious/dist/qrious.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/vendors/base64.js') }}"></script>
  <script src="/static/assets/js/vendors/webauthn.js?v={{ VERSION }}"></script>
{% endblock %}

{% block default_content %}
  <div class="card">
    <div class="card-body">
      <h1 class="h2 text-center">注册您的安全密钥</h1>
      <p class="text-center">按照浏览器的步骤使用 原邮邮箱 注册安全密钥</p>

      <form id="formRegisterKey" method="post">
        {{ fido_token_form.csrf_token }}
        {{ fido_token_form.sk_assertion(class="form-control", placeholder="") }}

        {{ fido_token_form.key_name(id="key-name", class="form-control", placeholder="给密钥命名（必填项）") }}
        {{ render_field_errors(fido_token_form.key_name) }}

        <div class="text-center">
          <span id="btnRegisterKey" class="btn btn-lg btn-primary mt-2" onclick="registerKey();">注册密钥</span>
        </div>
      </form>

      <script>
        // disable submit when enter
        $('form input').keydown(function (e) {
          if (e.keyCode == 13) {
            e.preventDefault();
            return false;
          }
        });

        async function registerKey() {
          // make sure key name is not empty
          if (!$("#key-name").val()) {
            toastr.error("密钥名字不能为空");
            return
          }

          $("#btnRegisterKey").prop('disabled', true);
          $("#btnRegisterKey").text('正在等待安全密钥...');

          const pkCredentialCreateOptions = transformCredentialCreateOptions(
            JSON.parse('{{credential_create_options|tojson|safe}}')
          )


          let credential
          try {
            credential = await navigator.credentials.create({
              publicKey: pkCredentialCreateOptions
            });
          } catch (err) {
            toastr.error("当我们尝试注册您的密钥时发生了错误。");
            $("#btnRegisterKey").prop('disabled', false);
            $("#btnRegisterKey").text('Register Key');
            return console.error("尝试创建凭证时出错:", err);
          }

          const skAssertion = transformNewAssertionForServer(credential);

          $('#sk_assertion').val(JSON.stringify(skAssertion));
          $('#formRegisterKey').submit();
        }

      </script>

    </div>
  </div>
{% endblock %}
