{% extends 'default.html' %}
{% set active_page = "setting" %}
{% block title %}
  恢复代码
{% endblock %}

{% block default_content %}
  <div class="card">
    <div class="card-body">
      <h1 class="h3">恢复代码</h1>
      <p>
        如果您无法访问身份验证器应用，您可以使用其中一个恢复代码再次访问
        您的帐户。
        每个代码只能使用一次，请确保将其存储在安全的地方。
      </p>

      <ul>
        {% for recovery_code in recovery_codes %}
          {% if recovery_code.used %}
            <li>
              <span style="text-decoration: line-through">{{ recovery_code.code }}</span>.
              使用于 {{ recovery_code.used_at | dt }}.
            </li>
          {% else %}
            <li>
              {{ recovery_code.code }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <form method="post" class="mt-6">
        <input type="submit" class="btn btn-outline-primary" value="生成新的代码">
      </form>
      <div class="small-text mt-2">
        警告：生成新代码将使旧代码无效。
      </div>

    <hr>

      <a href="{{ url_for('dashboard.index') }}" class="btn btn-primary btn-lg"> 返回主页 </a>


    </div>
  </div>
{% endblock %}
