{% extends 'default.html' %}

{% block title %}
  Quarantine
{% endblock %}

{% set active_page = "setting" %}

{% block default_content %}
  <div class="col">
    <h1 class="h3 mb-5"> 隔离 </h1>

    <div class="alert alert-info">
      此页面显示所有可能为垃圾邮件或恶意的电子邮件。
      通常这些电子邮件已被您的邮箱<b>拒绝</b>（或退回）。<br>

      - 如果电子邮件确实是垃圾邮件，则意味着别名现在已落入垃圾邮件发送者的手中，
      在这种情况下，您应该<b>禁用</b>此别名。<br>

      - 否则，您应该创建一个<b>过滤器</b>，以避免您的电子邮件提供商阻止这些电子邮件。<br>
      如果您需要任何帮助，请<a href="mailto:{{SUPPORT_EMAIL}}">联系我们↗</a>。

    </div>

    {% if email_logs|length == 0 %}
      <div class="my-4 p-4 card">
        您没有任何处于隔离状态的电子邮件。
      </div>
    {% endif %}

    {% for email_log in email_logs %}
      {% set refused_email = email_log.refused_email %}
      {% set contact = email_log.contact %}
      {% set alias = contact.alias %}

      <div class="card p-4 shadow-sm {% if email_log.id == highlight_id %} highlight-row {% endif %}">
        <div class="small-text">
          邮件发送于 {{ refused_email.created_at | dt }}
        </div>

        {% if email_log.is_reply %}
          From: {{ alias.email }} <br>
          To: {{ contact.website_email }}
        {% else %}
          From: {{ contact.website_email }} <br>

          <span>
          To: {{ alias.email }}
          <a href='{{ url_for("dashboard.index", highlight_alias_id=alias.id) }}'
             class="btn btn-sm btn-outline-danger">禁用别名</a>
        </span>
        {% endif %}

        {% if refused_email.deleted %}
          <div>
            邮件删除于 {{ refused_email.delete_at | dt }}
          </div>
        {% else %}
          <a href="{{ refused_email.get_url() }}" download
             class="mt-4">下载邮件副本 →</a>
          <div class="small-text">这将下载一个“.eml”文件，您可以在电子邮件客户端中打开该文件。</div>
        {% endif %}

      </div>
    {% endfor %}


  </div>
{% endblock %}