<button class="btn btn-sm {% if contact.block_forward %}
   text-primary {% else %} text-warning {% endif %}" hx-post="{{ url_for('dashboard.toggle_contact', contact_id=contact.id) }}" hx-swap="outerHTML">
  {% if contact.block_forward %}

    <i class="fe fe-play-circle"
       data-toggle="tooltip"
       title="解禁发送者"></i>
  {% else %}
    <i class="fe fe-pause-circle" data-toggle="tooltip" title="屏蔽发送者"></i>
  {% endif %}
</button>
{% if toast_msg %}<script>toastr.success("{{ toast_msg }}");</script>{% endif %}
