{% extends "base.html" %}
{% block content %}
  {% call text() %}
    <h1>无法从您的别名 {{ alias.email }} 向 {{ contact.email }} 发送电子邮件</h1>
  {% endcall %}
  {% call text() %}
    这意味着 {{ contact.email }}
    <ul>
      <li>不是有效的电子邮件地址，或者</li>
      <li>不存在，或者</li>
      <li>其邮件服务器拒绝你的电子邮件</li>
    </ul>
  {% endcall %}
  {{ render_button("查看原始电子邮件", refused_email_url) }}
  {% call text() %}
    该电子邮件将在 7 天后自动删除。
  {% endcall %}
  {% call text() %}
    祝好,
    <br/>
    原邮邮箱
  {% endcall %}
{% endblock content %}
