发送到您的别名 {{ alias.email }} 的电子邮件从 {{ website_email }} 被您的邮箱 {{ mailbox_email }} 拒收了。

这通常是因为您的邮箱服务认为该电子邮件是垃圾邮件。

您可以在 {{ refused_email_url }} 查看这封电子邮件。
该电子邮件将在 7 天内自动删除。

请考虑以下选项：

1. 如果该电子邮件根本不是垃圾邮件，您可以将原邮邮箱的发件邮箱加入白名单，来明确允许所有来自 原邮邮箱 的电子邮件。

2. 如果这封电子邮件是垃圾邮件，这意味着您的别名 {{ alias }} 现在落入了垃圾邮件发送者的手中。
   如果他们发送了太多垃圾邮件，您可以在 {{ disable_alias_link }} 禁用别名
   或在 {{ block_sender_link }} 阻止发件人。

请注意，如果发送到别名的电子邮件被拒收次数过多，别名可能会自动禁用。

谢谢，
原邮邮箱