{% extends "base.html" %}
{% block content %}
  {% call text() %}
    <h1>下载 SimpleLogin 浏览器扩展和移动应用程序以即时创建别名。</h1>
  {% endcall %}
  {% call text() %}
    如果您想快速创建别名<b>而无需</b>访问 原邮邮箱 网站，您可以使用
    <a href="https://chrome.google.com/webstore/detail/dphilobhebphkdjbpfohgikllaljmgbn">Chrome 浏览器插件</a>
    （或其他基于 Chromium 的浏览器，如 Brave 或 Vivaldi）、
    <a href="https://addons.mozilla.org/firefox/addon/simplelogin/">Firefox 插件</a> 和
    <a href="https://apps.apple.com/app/id1494051017 ">Safari</a> 扩展程序来实现。
    <br/>
    浏览器插件使用教程，强烈推荐观看下。插件非常方便易用。
    <br/>
    <a href="https://www.nodeseek.com/post-281885-1">浏览器插件使用教程</a>
  {% endcall %}
  {% call text() %}
    您还可以使用 SimpleLogin
    <a href="https://play.google.com/store/apps/details?id=io.simplelogin.android">Android 应用</a>
    或 <a href="https://apps.apple.com/app/id1494359858">iOS 应用</a> 管理您的别名。
  {% endcall %}
  <img src="https://simplelogin.io/images/everywhere.png"
       alt="Available Everywhere"
       style="max-width: 100%"/>
{% endblock content %}
{% block footer %}
  此电子邮件已发送至 {{ to_email }}，是我们入职系列的一部分。在
  <a href="{{ URL }}/dashboard/setting#notification">设置</a> 上取消订阅
{% endblock footer %}
