{% extends "base.html" %}

{% block content %}

  {% call text() %}
    <h1>将其他邮箱添加到 原邮邮箱</h1>
  {% endcall %}

  {% call text() %}
    如果您有多个邮箱账户，例如 Gmail 和 Proton Mail，您可以将它们作为 <b>邮箱</b> 添加到 原邮邮箱
  {% endcall %}

  <img src="https://simplelogin.io/images/multiple-mailboxes.png"
       alt="多个邮箱"
       style="max-width: 100%;
              margin: auto;
              border: 1px solid">

  {% call text() %}
    在创建别名时，您可以选择哪个邮箱（或多个邮箱）<b>拥有</b>这个别名，这意味着：
    <br />
    1. 发送到此别名的邮件将被转发到拥有该别名的邮箱。
    <br />
    2. 拥有该别名的邮箱可以通过该别名发送邮件。
  {% endcall %}

  {% call text() %}
    请注意，添加其他邮箱仅适用于高级计划用户。
  {% endcall %}

  {{ render_button("创建邮箱", URL ~ "/dashboard/mailbox") }}
  {{ raw_url(URL ~ "/dashboard/mailbox") }}
{% endblock %}

{% block footer %}

  这封邮件已发送至 {{ to_email }}，是我们入门系列的一部分。若要取消订阅，请访问
  <a href="{{ URL }}/dashboard/setting#notification">设置</a>
{% endblock %}
