{% extends "base.html" %}
{% block content %}
  {% call text() %}
    <h1>使用 PGP 保护您的电子邮件。</h1>
  {% endcall %}
  {% call text() %}
    如果您使用 Gmail/Yahoo/Outlook 等，您可能需要使用
    <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">PGP</a> (Pretty Good Privacy)
    以确保这些电子邮件提供商无法阅读您的电子邮件。
  {% endcall %}
  {% call text() %}
    如果没有 PGP，电子邮件将以<b>纯文本</b>形式存储，从而使您的电子邮件服务能够阅读您的电子邮件。
  {% endcall %}
  <img src="https://simplelogin.io/blog/without-pgp.png"
       alt="Without PGP"
       style="max-width: 100%;
              margin-bottom: 10px"/>
  {% call text() %}
    启用 PGP，原邮邮箱 会先使用您的公钥<b>加密</b>您的电子邮件，然后再转发到您的邮箱。
  {% endcall %}
  <img src="https://simplelogin.io/blog/with-pgp.png"
       alt="Without PGP"
       style="max-width: 100%;
              margin-bottom: 20px"/>
  {{ render_button("在您的邮箱上启用 PGP", URL ~ "/dashboard/mailbox/" ~ user.default_mailbox_id) }}
  {{ raw_url(URL ~ "/dashboard/mailbox/" ~ user.default_mailbox_id) }}
{% endblock content %}
{% block footer %}
  此电子邮件已发送至 {{ to_email }}，是我们入职系列的一部分。取消订阅
  <a href="{{ URL }}/dashboard/setting#notification">设置</a>
{% endblock footer %}
