{% extends "base.html" %}

{% block content %}

  {% call text() %}
    <h1>使用 PGP 加密您的邮件。</h1>
  {% endcall %}

  {% call text() %}
    如果您使用 Gmail/Yahoo/Outlook 等邮箱服务，您可能希望使用
    <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">PGP</a>
    （Pretty Good Privacy）
    来确保您的邮件无法被这些邮箱服务读取。
  {% endcall %}

  {% call text() %}
    如果没有 PGP，邮件将以 <b>明文</b> 存储，您的邮箱服务提供商能够读取您的邮件。
  {% endcall %}

  <img src="https://simplelogin.io/blog/without-pgp.png"
       alt="没有 PGP"
       style="max-width: 100%;
              margin-bottom: 10px">
  {% call text() %}
    启用 PGP 后，原邮邮箱 会在转发到您的邮箱之前，使用您的公钥对邮件进行 <b>加密</b>。
  {% endcall %}

  <img src="https://simplelogin.io/blog/with-pgp.png"
       alt="启用 PGP"
       style="max-width: 100%;
              margin-bottom: 20px">
  {{ render_button("在您的邮箱启用 PGP", URL ~ "/dashboard/mailbox/" ~ user.default_mailbox_id) }}
  {{ raw_url(URL ~ "/dashboard/mailbox/" ~ user.default_mailbox_id) }}
{% endblock %}
{% block footer %}

  这封邮件已发送至 {{ to_email }}，是我们入门系列的一部分。<br />
  若要取消订阅，请访问<a href="{{ URL }}/dashboard/setting#notification">取消订阅</a>
{% endblock %}
