此邮件发送至 {{ to_email }}，是我们入门系列的一部分。
在 {{URL}}/dashboard/setting#notification 取消订阅
----------------

你好

您知道您可以通过您的别名向任何人发送邮件吗？
以下这段YouTube视频将快速演示这些步骤：

https://youtu.be/GN060XMt6Pc

以下是操作步骤：
1. 首先，点击您希望通过其发送邮件的别名下的“联系人”按钮
2. 输入您联系人的邮箱，创建一个“反向别名”
3. 在写邮件时，使用这个反向别名，而不是联系人的邮箱

就这样，您的联系人将收到从您的别名发送的邮件！
您的真实邮箱地址将保持隐藏。

祝好，
原邮邮箱