{% extends "base.html" %}
{% block content %}
  {% call text() %}
    <h1>从您的别名发送电子邮件。</h1>
  {% endcall %}
  {% call text() %}
    如果您想回复电子邮件，只需点击“回复”
    然后回复将来自您的别名。您的个人电子邮件地址保持隐藏状态。
  {% endcall %}
  {% call text() %}
    要向<b>新联系人</b>发送电子邮件，请按照以下步骤操作。
    您还可以观看此<a href="https://www.nodeseek.com/post-279791-1">原邮邮箱基础使用教程</a>
    快速引导您完成这些步骤。
  {% endcall %}
{% endblock content %}
{% block footer %}
  这封电子邮件已发送至 {{ to_email }}，是我们入职系列的一部分。取消订阅
  <a href="{{ URL }}/dashboard/setting#notification">设置</a>
{% endblock footer %}
