欢迎使用原邮邮箱，这是由 Proton 开发的服务，用于保护您的电子邮件地址！

这是您通过第一个别名 {{ to_address }} 收到的第一封电子邮件。

当您第一次使用原邮邮箱 时，会自动创建这个别名。
发送到它的电子邮件会被转发到您的 Proton 邮箱。
如果您想回复电子邮件，只需点击“回复”，回复将来自您的别名。
您的个人电子邮件地址将保持隐藏。

要创建新的别名，请使用原邮邮箱 浏览器扩展（推荐）或网络仪表盘。
SimpleLogin 在 Chrome、Firefox 和 Edge 上均可使用。
SimpleLogin 也适用于 Android 和 iOS，因此您可以随时随地管理您的别名。

请注意，如果您是 Proton Mail 的付费用户，您将自动获得原邮邮箱 的高级版本。

如有任何疑问、反馈或功能请求，请加入我们的
Telegram 官方频道 或者 原邮邮箱交流群

此致，
SimpleLogin 团队

---
链接：
Chrome: https://chrome.google.com/webstore/detail/dphilobhebphkdjbpfohgikllaljmgbn
Firefox: https://addons.mozilla.org/firefox/addon/simplelogin/
Edge: https://microsoftedge.microsoft.com/addons/detail/simpleloginreceive-sen/diacfpipniklenphgljfkmhinphjlfff
Android: https://play.google.com/store/apps/details?id=io.simplelogin.android
iOS: https://apps.apple.com/app/id1494359858
原邮邮箱官方频道：https://t.me/yuanyou_official
原邮邮箱交流群：https://t.me/yuanyou_de