{% extends "base.html" %}

{% block logo %}<img src="{{ URL }}/static/logo.svg" style="width: 150px; margin: auto">{% endblock %}
{% block content %}

  {% call text() %}
    欢迎使用 SimpleLogin，这是由 Proton 开发的服务，用于保护您的电子邮件地址！
  {% endcall %}

  {% call text() %}
    这是您收到的第一封通过您的 <b>第一个别名</b> {{ to_address }} 发送的邮件。
  {% endcall %}

  {% call text() %}
    该别名是在您第一次使用 SimpleLogin 时自动创建的。
    发送到该别名的邮件将转发到您的 Proton 邮箱。
    如果您想回复邮件，只需点击“回复”，回复邮件将通过您的别名发送。
    您的个人邮箱地址将保持隐藏。
  {% endcall %}

  {% call text() %}
    要创建新别名，请使用 SimpleLogin 浏览器扩展（推荐）或网页版仪表板。
    SimpleLogin 可在以下平台使用：
    <a href="https://chrome.google.com/webstore/detail/dphilobhebphkdjbpfohgikllaljmgbn">Chrome</a>
    ,
    <a href="https://addons.mozilla.org/firefox/addon/simplelogin/">Firefox</a>
    和
    <a href="https://microsoftedge.microsoft.com/addons/detail/simpleloginreceive-sen/diacfpipniklenphgljfkmhinphjlfff">
      Edge
    </a>
  {% endcall %}

  {% call text() %}
    SimpleLogin 也可以在
    <a href="https://play.google.com/store/apps/details?id=io.simplelogin.android">Android</a>
    和
    <a href="https://apps.apple.com/app/id1494359858">iOS</a>
    上使用，您可以随时随地管理您的别名。
  {% endcall %}

  {% call text() %}
    请注意，如果您是付费的 Proton Mail 用户，您将自动获得 SimpleLogin 的高级版。
  {% endcall %}

  {% call text() %}
    如有任何问题或想要请求新功能，请在我们的 <a href="https://github.com/simple-login/app/discussions">论坛</a> 提交。
    您也可以加入我们的
    <a href="https://www.reddit.com/r/Simplelogin/">Reddit</a>
    或关注我们的
    <a href="https://twitter.com/simple_login">Twitter</a>
    。
  {% endcall %}

  {% call text() %}
    祝好，
    <br />
    原邮邮箱
  {% endcall %}

{% endblock %}
