{% extends "base.txt.jinja2" %}

{% block content %}
我们检测到您的域 {{ custom_domain.domain }} 的 DNS MX 记录未正确设置。

请重新运行 {{ domain_dns_url }} 上的 MX 检查，并在需要时进行更新。

如果未正确设置 MX 记录，发送到 {{ custom_domain.domain }} 别名的电子邮件将无法正确和可靠地处理。
{% endblock %}