{% extends "base.html" %}
{% block content %}
  {% call text() %}
    <h1>
      一封电子邮件已从其自己的邮箱发送到您的别名 <b>{{ alias.email }}</b>
      <b>{{ mailbox.email }}</b>
    </h1>
  {% endcall %}
  {% call text() %}
    原邮邮箱 不会将此电子邮件<b>发回</b>到您的邮箱，因为它无论如何都会被您的电子邮件服务拒绝或隐藏。
    <br/>
    所以不用担心，您无需执行任何操作 :)。
  {% endcall %}
  {{ render_button("查看电子邮件", rejection_email_url) }}
  {% call text() %}
    该电子邮件将在 7 天内自动删除。
  {% endcall %}
  {% call text() %}
    如果您有任何问题，请回复此电子邮件。
  {% endcall %}
  {{ render_text('祝好，
  <br />
  原邮邮箱') }}
{% endblock content %}
