{% extends "base.txt.jinja2" %}

{% block content %}
一封电子邮件从其自己的邮箱 {{ from_addr }} 发送到您的别名 {{ alias.email }}。

原邮邮箱 不会将此电子邮件返回到您的邮箱，因为您的电子邮件服务会拒绝或隐藏它。

所以不用担心，您无需执行任何操作 :).

您可以在这里查看此电子邮件：
{{ refused_email_url }}

电子邮件将在7天内自动删除。

如有任何问题，请告知我们。
{% endblock %}