{% extends "base.txt.jinja2" %}

{% block content %}
我们检测到 原邮邮箱 可能与另一个邮件转发服务一起使用。

请注意，原邮邮箱 不支持以下用例：

- 您的邮箱是一个电子邮件别名（即不是“最终”电子邮件地址）
- 您的邮箱启用了自动转发
- 您的别名接收到来自另一个邮箱的自动转发电子邮件

由于不同的电子邮件转发系统通常不兼容，使用多个转发服务可能会导致电子邮件传递问题。

如有任何问题，请告知我们。
{% endblock %}