{% extends "base.html" %}

{% block content %}

  {% call text() %}
    <h1>您的 {{ breached_aliases|count }} 个别名在数据泄露中被发现。</h1>
  {% endcall %}

  <ol>
    {%- for alias in breached_aliases[:10] %}
      <li>
        {% call text() %}
          <b>{{ alias.email }}</b> 在 {{ alias.hibp_breaches|count }} 次数据泄露中被发现。
          <br />
          <ul>
            {% set breaches = alias.hibp_breaches|sort(attribute='date', reverse=True) %}
            {%- for breach in breaches[:4] %}
              <li>
                <b>{{ breach.name }}</b>
                {% if breach.date %}({{ breach.date.format("YYYY-MM-DD") }}){% endif %}
                {{ breach.description }}
              </li>
            {%- endfor %}
          </ul>
          {% if breaches|length > 4 %}还有 {{ breaches|length - 4 }} 次数据泄露...{% endif %}
        {% endcall %}
      </li>
    {%- endfor %}
  </ol>
  {% if breached_aliases|length > 10 %}
    {% call text() %}
      还有 {{ breached_aliases|length - 10 }} 个别名...
    {% endcall %}
  {% endif %}
  {% call text() %}
    更多信息，请查看
    <a href='https://haveibeenpwned.com/'>HaveIBeenPwned.com</a>
    。
  {% endcall %}

  {{ render_text('祝好，
    <br />
    原邮邮箱') }}
{% endblock %}