{% extends "base.txt.jinja2" %}

{% block content %}
您的 {{ breached_aliases|count }} 个别名在数据泄露中被发现。

{% for alias in breached_aliases[:10] %}
  {{ loop.index }} )  {{ alias.email }} 在 {{ alias.hibp_breaches|count }} 次数据泄露中被发现。

  {%- set breaches = alias.hibp_breaches|sort(attribute='date', reverse=True) %}
  {% for breach in breaches[:4] %}
    - {{ breach.name }} {% if breach.date %}({{ breach.date.format('YYYY-MM-DD') }}){% endif %}
  {%- endfor %}

  {%- if  breaches|length > 4 %}
    还有 {{ breaches|length - 4 }} 次数据泄露...
  {% endif %}
{% endfor %}

{%- if  breached_aliases|length > 10 %}
  还有 {{ breached_aliases|length - 10 }} 个别名...
{%- endif %}

更多信息，请查看 https://haveibeenpwned.com/。
{% endblock %}