{% extends "base.txt.jinja2" %}

{% block content %}

我们检测到您的邮箱 {{ mailbox.email }} 的 PGP 密钥无效。

可能的原因是 PGP 密钥已过期。

请在 {{URL}}/dashboard/mailbox/{{ mailbox.id }}/ 上更新您的 PGP 密钥，以便转发的电子邮件可以正确加密。

{% endblock %}