{% extends "base.html" %}

{% block content %}

  {% call text() %}
    <h1>
      您的邮箱 {{ mailbox.email }} 和别名 {{ alias.email }} <b>不能</b> 拥有相同的域名。
    </h1>
  {% endcall %}

  {% call text() %}
    别名域名应指向 原邮邮箱 服务器，以便 原邮邮箱 转发发送到它的电子邮件。
  {% endcall %}

  {% call text() %}
    邮箱域名应是您的 "最终" 电子邮件地址，可以接收来自 原邮邮箱 的电子邮件，
    并且不能指向 原邮邮箱。
  {% endcall %}

  {% call text() %}
    请执行以下操作之一：
    <br />
    <ul>
      <li>在 {{ mailbox_url }} 上将邮箱更新为最终电子邮件地址</li>
      <li>从您的自定义域中移除 {{ alias.email }} 域名</li>
    </ul>
  {% endcall %}

  {% call text() %}
    如有任何问题，请随时回复此电子邮件。
    <br />
祝好
    <br />
原邮邮箱
  {% endcall %}

{% endblock %}