{% extends "base.html" %}
{% block content %}
  {% call text() %}
    <h1>
      您的邮箱 {{ mailbox.email }} 和别名 {{ alias.email }} <b>不能</b>具有相同的域。
    </h1>
  {% endcall %}
  {% call text() %}
    别名域应指向 原邮邮箱 服务器，以便发送给它的电子邮件由 原邮邮箱 转发。
  {% endcall %}
  {% call text() %}
    邮箱域应是您的“最终”电子邮件地址，可以接收来自 原邮邮箱 的电子邮件
    并且不能指向 原邮邮箱。
  {% endcall %}
  {% call text() %}
    请执行以下操作之一：
    <br/>
    <ul>
      <li>将邮箱更新为 {{ mailbox_url }} 上的最终电子邮件地址</li>
      <li>从您的自定义域中删除 {{ alias.email }} 域</li>
    </ul>
  {% endcall %}
  {% call text() %}
    如果您有任何问题，请随时回复此电子邮件。
    <br/>
    祝好，
    <br/>
    原邮邮箱
  {% endcall %}
{% endblock content %}
