{% extends "base.html" %}

{% block content %}

  {% call text() %}
    这里是 原邮邮箱 。
  {% endcall %}

  {% call text() %}
    {{ provider }} 已通知我们，一封发送到 <b>{{ email }}</b> 的电子邮件可能被您或 {{ provider }} 的垃圾邮件过滤器认为是垃圾邮件。
  {% endcall %}

  {% call text() %}
    请注意，明确将 原邮邮箱 转发的电子邮件标记为垃圾邮件会影响 原邮邮箱 的电子邮件传递，对所有用户产生负面影响，并且违反我们的条款和条件。
  {% endcall %}

  {% call text() %}
    如果 {{ provider }} 认为转发的电子邮件是垃圾邮件，如果您能将电子邮件移出垃圾邮件文件夹，这对我们很有帮助。
  {% endcall %}

  {% call text() %}
    请不要将我们的电子邮件放入垃圾邮件文件夹。这可能会导致您的 原邮邮箱 账户被禁用。
  {% endcall %}

  {% call text() %}
    如果您需要更多信息，请随时与我们联系。
  {% endcall %}

  {% call text() %}
祝好
    <br />
原邮邮箱
  {% endcall %}

{% endblock %}