{% extends "base.html" %}

{% block content %}

  {% call text() %}
    这里是 原邮邮箱 团队。
  {% endcall %}

  {% call text() %}
    {{ provider }} 已通知我们，一封发送到 <b>{{ user.email }}</b> 的电子邮件可能被标记为垃圾邮件。
  {% endcall %}

  {% call text() %}
    请注意，明确将 原邮邮箱 转发的电子邮件标记为垃圾邮件会影响 原邮邮箱 的电子邮件传递，对所有用户产生负面影响，并且违反我们的条款和条件。
  {% endcall %}

  {% call text() %}
    如果是这种情况，请禁用该别名，而不是收到发送到此别名的电子邮件。
  {% endcall %}

  {% call text() %}
    如果 原邮邮箱 对您没有用，请知道您可以在设置页面上删除您的账户。
  {% endcall %}

  {% call text() %}
    如果您需要更多信息，请随时与我们联系。
  {% endcall %}

  {% call text() %}
祝好
    <br />
原邮邮箱
  {% endcall %}

{% endblock %}