{% extends "base.txt.jinja2" %}

{% block content %}
您好，

这里是 原邮邮箱 团队。

我们收到 {{ provider }} 的报告，告知我们您使用别名 {{ alias.email }} 发送到 {{ destination }} 的电子邮件可能被收件人或他们的垃圾邮件过滤器认为是垃圾邮件。

请注意，从 原邮邮箱 别名发送未经请求的电子邮件侵犯了我们的条款和条件，因为这会严重影响 原邮邮箱 的电子邮件传递。

如果收件人的服务提供商认为转发的电子邮件是垃圾邮件，如果您能请他们将电子邮件移出垃圾邮件文件夹，这对我们帮助很大。

如果您需要更多信息，请随时与我们联系。
{% endblock %}