{% extends "base.txt.jinja2" %}

{% block content %}
您好

您无法从您的别名 {{ alias.email }} 向 {{ contact.email }} 发送电子邮件。

请确认 {{ contact.email }} 是否是一个有效地址？

通常这是因为 {{ contact_domain }} 的 DNS 记录不存在。

您可以在任何 DNS 检查网站上查看其 DNS 记录，例如 https://mxtoolbox.com/SuperTool.aspx
{% endblock %}