{% extends "base.html" %}

{% block content %}

  {% call text() %}
    <h1>
      使用 <b>{{ sender }}</b> 从您的别名 <b>{{ alias.email }}</b> 发送电子邮件的尝试被阻止。
    </h1>
  {% endcall %}

  {% call text() %}
    作为保护措施以防止 <b>电子邮件欺骗</b>，我们已阻止使用 <b>{{ sender }}</b> 从您的别名 <b>{{ alias.email }}</b> 发送电子邮件的尝试。
  {% endcall %}

  {% call text() %}
    请注意，仅从别名的所有邮箱（即 {{ mailbox_emails|join(", ") }}）发送的邮件才有效。
  {% endcall %}

  {% call text() %}
    如果 {{ sender }} 确实可以从您的别名发送电子邮件，您可以将其添加到允许列表：
  {% endcall %}

  {{ render_button("允许 " + sender, authorize_address_link) }}
  {% call text() %}
祝好
    <br />
原邮邮箱
  {% endcall %}

  {{ raw_url(authorize_address_link) }}
{% endblock %}