{% extends "base.html" %}
{% block content %}
  {{ render_text("Hi") }}
  {% call text() %}
    您的电子邮件无法从别名 <b>{{ alias.email }}</b> 发送到 <b>{{ contact.email }}</b>。
  {% endcall %}
  {% call text() %}
    您能否验证 <b>{{ contact.email }}</b> 是否为有效地址？
  {% endcall %}
  {% call text() %}
    通常这是因为 <b>{{ contact_domain }}</b> 的 DNS 记录不存在。
  {% endcall %}
  {% call text() %}
    您可以在任何 DNS 检查器网站上检查其 DNS 记录，例如 https://mxtoolbox.com/SuperTool.aspx
  {% endcall %}
  {% call text() %}
    如果您有任何问题，请告诉我们。
    <br/>
    祝好，
    <br/>
    原邮邮箱
  {% endcall %}
{% endblock content %}
