{% extends "base.html" %}

{% block content %}

  {{ render_text("你好") }}
  {% call text() %}
    您无法从您的别名 <b>{{ alias.email }}</b> 向 <b>{{ contact.email }}</b> 发送电子邮件。
  {% endcall %}

  {% call text() %}
    请确认 <b>{{ contact.email }}</b> 是否是一个有效地址？
  {% endcall %}

  {% call text() %}
    通常这是因为 <b>{{ contact_domain }}</b> 的 DNS 记录不存在。
  {% endcall %}

  {% call text() %}
    您可以在任何 DNS 检查网站上查看其 DNS 记录，例如 https://mxtoolbox.com/SuperTool.aspx
  {% endcall %}

  {% call text() %}
    如果您有任何问题，请告诉我们。
    <br />
祝好
    <br />
原邮邮箱
  {% endcall %}

{% endblock %}