{% extends "base.html" %}

{% block content %}

  {% call text() %}
    <h1>从 {{ website_email }} 发送到您的别名 {{ alias.email }} 的电子邮件被检测为垃圾邮件</h1>
  {% endcall %}

  {% call text() %}
    从 {{ website_email }} 发送到您的别名 {{ alias.email }} 的电子邮件被我们的垃圾邮件检测引擎 (SpamAssassin) 检测为垃圾邮件。
  {% endcall %}

  {% call text() %}
    在大多数情况下，您的电子邮件提供商会拒绝该邮件。
  {% endcall %}

  {{ render_button("查看电子邮件", refused_email_url) }}
  {% call text() %}
    该电子邮件将在7天内自动删除。
  {% endcall %}

  {% call text() %}
    您的别名 {{ alias.email }} 现在可能在垃圾邮件发送者手中。在这种情况下，您应该立即禁用或删除该别名。
  {% endcall %}

  {{ render_button("禁用别名", disable_alias_link) }}
  {{ render_text("如果您有任何问题，请通过回复此电子邮件告诉我们。") }}
  {{ render_text('祝好，
    <br />
    原邮邮箱') }}
  {{ raw_url(disable_alias_link) }}
{% endblock %}