{% extends "base.html" %}

{% block content %}

  {% call text() %}
    <h1>
      尝试从未知 IP 地址发送电子邮件使用您的别名 <b>{{ alias }}</b>
    </h1>
  {% endcall %}

  {% call text() %}
    我们记录了一次尝试从未知 IP 地址 <b>{{ ip }}</b> 使用您的别名 <b>{{ alias }}</b> 发送以下电子邮件的行为。
  {% endcall %}

  {% call text() %}
    - 发件人: <b>{{ alias }}</b>
    <br />
    - 收件人: <b>{{ to_email }}</b>
    <br />
    - 主题: <b>{{ subject }}</b>
    <br />
    - 时间: <b>{{ time.humanize() }}</b>
  {% endcall %}

  {% call text() %}
    为了防止电子邮件欺骗，原邮邮箱 强制执行 SPF（发件人策略框架）。
    从您的电子邮件服务未知的 IP 地址发送的电子邮件默认被拒绝。
  {% endcall %}

  {% call text() %}
    但是，您可以通过访问 {{ mailbox_url }} 来关闭此选项。
  {% endcall %}

  {% call text() %}
    请仅在您知道自己在做什么的情况下关闭此保护功能 :).
  {% endcall %}

  {{ render_text('祝好，
    <br />
    原邮邮箱') }}
{% endblock %}