{% extends "base.html" %}
{% block content %}
  {% call text() %}
    <h1>
      尝试从您的别名 <b>{{ alias }}</b>
      从未知 IP 地址发送电子邮件
    </h1>
  {% endcall %}
  {% call text() %}
    我们已记录尝试从您的别名 <b>{{ alias }}</b> 从未知 IP
    地址
    <b>{{ ip }}</b> 发送以下电子邮件。
  {% endcall %}
  {% call text() %}
    - 发件人：<b>{{ alias }}</b>
    <br/>
    - 收件人：<b>{{ to_email }}</b>
    <br/>
    - 主题：<b>{{ subject }}</b>
    <br/>
    - 时间：<b>{{ time.humanize(locale='zh_CN') }}</b>
  {% endcall %}
  {% call text() %}
    为了防止电子邮件欺骗，原邮邮箱 强制执行 SPF（发件人策略框架）。
    默认情况下，您的电子邮件服务会拒绝从<b>未知</b> IP 地址发送的电子邮件。
  {% endcall %}
  {% call text() %}
    但是，您可以通过转到 {{ mailbox_url }} 关闭此选项。
  {% endcall %}
  {% call text() %}
    如果您知道自己在做什么，请仅关闭此保护 :)。
  {% endcall %}
  {{ render_text('祝好，
  <br />
  原邮邮箱') }}
{% endblock content %}
