{% extends "base.html" %}
{% block content %}
  {% call text() %}
    <h1>您的试用将于 {{ user.trial_end.humanize(locale='zh_CN') }} 结束</h1>
  {% endcall %}
  {{ render_text("试用结束时：") }}
  {{ render_text("- 您创建的所有别名/域/目录均<b>保留</b>并继续正常工作。") }}
  {% call text() %}
    - 如果您超出免费计划限制，即拥有超过 {{ MAX_NB_EMAIL_FREE_PLAN }} 个别名，则无法创建新别名。
  {% endcall %}
  {% call text() %}
    - 由于 <b>catch-all</b> 或 <b>目录</b> 等功能允许您即时创建别名，
    如果您拥有超过 {{ MAX_NB_EMAIL_FREE_PLAN }} 个别名，则无法自动创建这些别名。
  {% endcall %}
  {{ render_text("- 您无法添加新域或目录。") }}
  {{ render_text("- 您无法添加新邮箱。") }}
  {{ render_text("- 如果您启用 PGP 加密，转发的电子邮件将不再加密。") }}
  {{ render_text('您可以立即升级以继续使用所有这些高级功能（以及即将推出的更多功能）。') }}
  {{ render_button("升级您的帐户", URL ~ "/dashboard/pricing") }}
  {{ render_text("如果您尚未准备好升级到付费帐户，您还有其他一些可用选项：") }}
  {{ grey_section([
  "<b>继续使用免费计划</b> - 在免费计划中，您只能使用 " ~ MAX_NB_EMAIL_FREE_PLAN ~ " 个别名，但带宽或转发/发送的电子邮件数量没有上限。",
  "<b>重新启动您的试用</b> - 如果您没有机会全面试用产品或需要更多时间进行评估，请告诉我们。只需回复此电子邮件，我们就会延长您的试用期。",
  "<b>分享反馈</b> - 如果 原邮邮箱 不适合您，请告诉我们您的需求，我们可能会建议一些更合适的替代方案。",
  "<b>导出您的数据</b> - 如果 原邮邮箱 不适合您，您可以导出数据以供其他地方使用。 ",
  "<b>关闭您的帐户</b> - 如果 原邮邮箱 对您没有用，您可以关闭您的帐户并删除您的数据。"
  ]) }}
  {{ render_text('无论您选择什么，我们都想感谢您尝试 原邮邮箱。我们知道该产品需要您投入时间，我们感谢您给我们一个机会。') }}
  {{ render_text('祝好，
  <br />
  原邮邮箱') }}
  {{ render_text('附言：如果您有任何问题或需要任何帮助，请随时与我们联系。您只需回复此电子邮件或通过 Telegram 官方频道 联系我们。') }}
  {{ raw_url(URL ~ "/dashboard/pricing") }}
{% endblock content %}
