{% extends "base.txt.jinja2" %}

{% block content %}
您的试用将在 {{ user.trial_end.humanize() }} 结束。

当试用结束时:

- 您创建的所有别名/域名/目录将保留并继续正常工作。
- 如果您超过免费计划的限制，即拥有超过 {{ MAX_NB_EMAIL_FREE_PLAN }} 个别名，您将无法创建新的别名。
- 您无法添加新的域名或目录。
- 您无法创建新的反向别名。
- 您无法添加新的邮箱。
- 如果您启用了 PGP 加密，转发的电子邮件将不再加密。

您可以今天升级以继续使用所有这些高级功能（以及更多即将推出的功能）。

如果您需要延长试用期，请告诉我。
{% endblock %}