{% extends "base.txt.jinja2" %}

{% block content %}
您好

{{ contact.website_email }} 不再能向 {{ alias.email }} 发送电子邮件

感谢您的邮箱服务提供的“一键退订”功能，{{ contact.website_email }} 已被阻止。

当您在转发的电子邮件上点击此按钮时，发件人将被自动阻止。

如果这是一个错误，您可以在以下地址取消阻止 {{ contact.website_email }}：

{{ unblock_contact_url }}

如果您有任何问题，请告诉我们。
{% endblock %}