{% extends "base.txt.jinja2" %}

{% block content %}
您好

您已添加 {{ mailbox_email }} 作为附加邮箱。

{% if link %}
请点击此链接进行确认：

{{ link }}
{% else %}
请输入 {{ code }} 作为此邮箱的验证码
{% endif %}

此链接仅在接下来的 15 分钟内有效。
{% endblock %}