{% extends "base.html" %}
{% block greeting %}
  <h1 style="margin-top: 0;
             color: #333333;
             font-size: 22px;
             font-weight: bold;
             text-align: left"
      align="left">欢迎!</h1>
{% endblock greeting %}
{% block content %}
  {% if alias %}
    {% call text() %}
      这是您通过<b>第一个别名</b><em>{{ alias }}</em>收到的第一封电子邮件。
    {% endcall %}
    {% call text() %}
      此别名是自动创建的，用于接收 原邮邮箱 新闻和提示。
      <br/>
      在接下来的几天里，我们将向您发送 3 封电子邮件，以帮助您充分利用 原邮邮箱。
      <br/>
      如果您不需要使用教程，您可以在官网这里设置禁用。
      <br/>
      <a href="{{ URL + '/dashboard/setting#notification' }}">禁用官方通知/新手教程</a>
      <br/>
      强烈推荐看看我写的浏览器插件使用教程，浏览器插件非常好用！！！
      <br/>
      <a href="https://www.nodeseek.com/post-281885-1">浏览器插件使用教程</a>
    {% endcall %}
  {% endif %}
  {% call text() %}
    如果您使用的是 Firefox 或 Chromium 浏览器（例如 Chrome、Edge、Brave），
    <br/>
    则可以安装我们的 <a href="https://addons.mozilla.org/firefox/addon/simplelogin/">Firefox 插件</a>
    或 <a href="https://chrome.google.com/webstore/detail/dphilobhebphkdjbpfohgikllaljmgbn">Chrome 扩展程序</a>
    以便一键创建别名（如下面的 gif 👇 所示）。
  {% endcall %}
  {% call text() %}
    <img src="https://simplelogin.io/images/one-click-alias.gif"
         style="max-width: 80%;
                margin: auto;
                border: 1px solid"/>
  {% endcall %}
  {% if user.in_trial() and user.trial_end %}
    {% call text() %}
      注册后，您可以在 7 天内（即“试用期”）无限制使用所有高级功能，例如<em>自定义域</em>、<em>别名目录</em>、
      <em>邮箱</em>、
      <em>PGP</em>。
      <br/>
      无需担心：即使您不升级，在此期间创建的所有别名
      仍将继续正常工作。
    {% endcall %}
  {% endif %}
  {% call text() %}
    如有任何疑问、反馈或功能请求，请加入我们的 <a href="https://t.me/yuanyou_official">Telegram 官方频道</a>
    <br/>
    您也可以加入我们的 <a href="https://t.me/yuanyou_de">原邮邮箱交流群</a>
  {% endcall %}
{% endblock content %}