{% extends 'dashboard/domain_detail/base.html' %} {% set domain_detail_page =
"info" %} {% block title %} {{ custom_domain.domain }} 信息 {% endblock %} {%
block domain_detail_content %}
<h1 class="h3">
  {{ custom_domain.domain }} {% if custom_domain.verified %}
  <span
    class="cursor"
    data-toggle="tooltip"
    data-original-title="DNS 设置正确"
  >
    ✅
  </span>
  {% else %}
  <span
    class="cursor"
    data-toggle="tooltip"
    data-original-title="DNS 需要设置"
  >
    <a
      href="{{ url_for('dashboard.domain_detail_dns', custom_domain_id=custom_domain.id) }}"
      class="text-decoration-none"
    >
      🚫
    </a>
  </span>
  {% endif %}
</h1>

<div class="small-text">创建于 {{ custom_domain.created_at | dt }}</div>

{{ nb_alias }} 个别名

<hr />
<div>Catch All</div>
  <div class="small-text">
    此功能允许您即时创建别名
  <b>。下次您需要电子邮件地址时，只需使用
  <em>anything@{{ custom_domain.domain }}</em>
  <br />
  别名将在第一次收到电子邮件时自动创建，并自动属于
  <b>{{ custom_domain.domain }}</b>
  邮箱（{% for mailbox in custom_domain.mailboxes %}
  <b>{{ mailbox.email }}</b>
  {% if not loop.last %},{% endif %} {% endfor %})
</div>

<div>
  <form method="post">
    <input
      type="hidden"
      name="form-name"
      value="switch-catch-all"
    />
    <label
      class="custom-switch cursor mt-2 pl-0"
      data-toggle="tooltip"
      {%
      if
      custom_domain.catch_all
      %}
      title="禁用 catch-all"
      {%
      else
      %}
      title="启用 catch-all"
      {%
      endif
      %}
    >
      <input type="checkbox" class="custom-switch-input" {{ "checked" if
      custom_domain.catch_all else "" }}>

      <span class="custom-switch-indicator"></span>
    </label>
  </form>
</div>

<hr />
<div>默认发件人名称</div>
<div class="small-text">
  当您通过别名发送或回复时，此名称将用作默认别名，除非被别名特定发件人名称覆盖。
</div>

<div>
  <form method="post">
    <input
      type="hidden"
      name="form-name"
      value="set-name"
    />
    <div class="form-group">
      <input class="form-control" value="{{ custom_domain.name or "" }}"
      name="alias-name" placeholder="发件人的名称：你用别名发邮件，对方看到你是谁">
    </div>
    <button
      class="btn btn-primary"
      name="action"
      value="save"
    >
      保存
    </button>
    {% if custom_domain.name %}
    <button
      class="btn btn-danger float-right"
      name="action"
      value="remove"
    >
      移除
    </button>
    {% endif %}
  </form>
</div>

<hr />
<div>随机前缀生成</div>
<div class="small-text">
  可以为此域生成一个随机前缀，以供新别名功能使用。
</div>

<div>
  <form method="post">
    <input
      type="hidden"
      name="form-name"
      value="switch-random-prefix-generation"
    />
    <label
      class="custom-switch cursor mt-2 pl-0"
      data-toggle="tooltip"
      {%
      if
      custom_domain.random_prefix_generation
      %}
      title="禁用随机前缀生成"
      {%
      else
      %}
      title="启用随机前缀生成"
      {%
      endif
      %}
    >
      <input type="checkbox" class="custom-switch-input" {{ "checked" if
      custom_domain.random_prefix_generation else "" }}>

      <span class="custom-switch-indicator"></span>
    </label>
  </form>
</div>

<hr />
<h3 class="mb-0">删除域名</h3>
<div class="small-text mb-3">
  请注意，此操作不可逆。与此域关联的所有别名也将被删除。
</div>

<form method="post">
  <input
    type="hidden"
    name="form-name"
    value="delete"
  />
  <span class="delete-custom-domain btn btn-outline-danger">删除域名</span>
</form>

{% endblock %} {% block script %}
<script>
  $('.custom-switch-input').change(function (e) {
    $(this).closest('form').submit()
  })

  $('.delete-custom-domain').on('click', function (e) {
    let that = $(this)

    bootbox.confirm({
      message:
        '与 <b>{{ custom_domain.domain }}</b> 关联的所有别名也将被删除。<br>' +
        '此操作不可逆，请确认。',
      buttons: {
        confirm: {
          label: '确认删除',
          className: 'btn-danger',
        },
        cancel: {
          label: '取消',
          className: 'btn-outline-primary',
        },
      },
      callback: function (result) {
        if (result) {
          that.closest('form').submit()
        }
      },
    })
  })
</script>
{% endblock %}
