{% extends "single.html" %}

{% block title %}
  忘记密码
{% endblock %}

{% block single_content %}
  {% if error %}
    <div class="text-danger text-center mb-4">{{ error }}</div>
  {% endif %}

  <form class="card" method="post">
    {{ form.csrf_token }}
    <div class="card-body p-6">
      <div class="card-title">忘记密码</div>

      <div class="form-group">
        <label class="form-label">登陆邮箱地址</label>
        {{ form.email(class="form-control", type="email") }}
        {{ render_field_errors(form.email) }}
      </div>

      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">重置密码</button>
      </div>
    </div>
  </form>

  <div class="text-center text-muted">
    算了，把我送回<a href="{{ url_for('auth.login') }}">登录页面</a>。
  </div>


{% endblock %}