{% extends "single.html" %}

{% block title %}
  注册
{% endblock %}

{% block single_content %}
  <form class="card" style="border-radius: 2%" method="post">
    {{ form.csrf_token }}
    <div class="card-body p-6">
      <div class="card-title">注册一个新的账号</div>

      <div class="form-group">
        <label class="form-label">登陆邮箱</label>
        {{ form.email(class="form-control", type="email") }}
        <div class="mt-2 small-text alert alert-info">
          发送到您的别名的电子邮件将被转发到此电子邮件地址。
          它不能是一次性或转发电子邮件地址。
        </div>
        {{ render_field_errors(form.email) }}
      </div>

      <div class="form-group">
        <label class="form-label">Password</label>
        {{ form.password(class="form-control", type="password") }}
        {{ render_field_errors(form.password) }}
      </div>

      <!-- TODO: add terms
      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input"/>
          <span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
        </label>
      </div>
      -->

      {% if HCAPTCHA_SITEKEY %}
        <div class="h-captcha" data-sitekey="{{ HCAPTCHA_SITEKEY }}"></div>
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
      {% endif %}

      <!-- <small class="text-center mt-3">
        点击“创建帐户”即表示您同意遵守
        <a href="https://simplelogin.io/terms">SimpleLogin 的条款和条件。</a>
      </small> -->

      <div class="mt-2">
        <button type="submit" class="btn btn-primary btn-block">创建账号</button>
      </div>
    </div>
  </form>
  <div class="text-center text-muted mb-6">
    已有账户？<a href="{{ url_for('auth.login') }}">登录</a>
  </div>

{% endblock %}