{% extends "base.html" %}
{% block content %}
  {{ render_text("Hi") }}
  {{ render_text("我们最需要的功能终于准备好了：您现在可以将多个<b>真实</b>电子邮件地址添加到 SimpleLogin
  并选择在创建别名时使用哪一个！") }}
  {{ render_text("在 SimpleLogin 中，真实电子邮件地址称为<b>邮箱</b>。") }}
  {{ render_text('如果您有多个电子邮件地址，此功能特别有用，
  可能用于不同的用途：用于社交网络和论坛的 Gmail 帐户，用于专业电子邮件的 Prontonmail 帐户等。') }}
  <img src="https://simplelogin.io/blog/mailbox-gmail.png"
       alt="Mailbox Gmail">
  <img src="https://simplelogin.io/blog/mailbox-protonmail.png"
       alt="Mailbox Protonmail">
  {{ render_text("创建别名时，您可以选择哪个邮箱<b>拥有</b>此别名，这意味着：") }}
  {{ render_text("1. 发送到此别名的电子邮件将*转发*到拥有它的邮箱。") }}
  {{ render_text("2. 拥有它的邮箱可以*发送*或回复来自此别名的电子邮件。") }}
  {{ render_text("您还可以更改现有别名的拥有邮箱。") }}
  {{ render_text('邮箱不必是您的个人电子邮件：您还可以通过添加朋友的电子邮件作为邮箱来为朋友创建别名。') }}
  {{ render_text('谢谢，
  <br />
  SimpleLogin 团队。') }}
  {{ render_text('<strong>P.S.</strong> 需要立即帮助开始使用？只需回复此电子邮件，SimpleLogin 支持团队随时准备提供帮助！') }}
{% endblock %}
{% block footer %}
  此电子邮件已发送至 {{ user.email }}。取消订阅
  <a href="{{ URL }}/dashboard/setting#notification">设置</a>
{% endblock %}
