{% extends "base.html" %}

{% block content %}

  {{ render_text("你好") }}
  {{ render_text("如果你使用 Gmail/Yahoo/Outlook 等邮箱服务，你知道这些服务可能会读取你的邮件吗？") }}
  {{ render_text("如果你希望邮件只有你自己能阅读，Pretty Good Privacy（PGP）或许是个不错的解决方案。") }}
  {{ render_text("PGP 是强烈推荐的开源免费加密工具，但遗憾的是，它并未被广泛支持。不过，借助 原邮邮箱 最新的 PGP 支持，你现在可以轻松为发送到别名的邮件启用 PGP 加密。") }}
  {{ render_text("在没有启用 PGP 的情况下，发送到别名的邮件会被 原邮邮箱 原样转发到你的邮箱，这意味着任何在传输过程中或你的邮件服务商都可能读取你的邮件：") }}
  <img src="https://simplelogin.io/blog/without-pgp.png"
       alt="未启用 PGP"
       style="max-width: 100%">
  {{ render_text("启用 PGP 后，所有到达 原邮邮箱 的邮件在转发到你的邮箱之前，都会使用你的公钥进行加密：") }}
  <img src="https://simplelogin.io/blog/with-pgp.png"
       alt="启用 PGP"
       style="max-width: 100%">
  {{ render_text("在添加或编辑邮箱时，你可以创建和管理你的 PGP 密钥。在邮箱仪表盘上查看吧！") }}
  {{ render_button("添加你的 PGP 密钥", URL ~ "/dashboard/mailbox") }}
  {{ render_text('感谢使用，<br />原邮邮箱 团队') }}
  {{ render_text("<strong>附言：</strong> 需要立即帮助以快速上手？只需回复此邮件，原邮邮箱 随时为你提供帮助！") }}

{% endblock %}
{% block footer %}

  此邮件发送至 {{ user.email }}。取消订阅请前往
  <a href="{{ URL }}/dashboard/setting#notification">设置</a>
{% endblock %}
