{% extends "dashboard/domain_detail/base.html" %}

{% set domain_detail_page = "auto_create" %}
{% block title %}{{ custom_domain.domain }} 自动创建规则 {% endblock %}
{% block domain_detail_content %}

  <h1 class="h2 mb-1">{{ custom_domain.domain }} 自动创建别名规则 </h1>
  <div>
    <span class="badge badge-info">高级设置</span>
    <span class="badge badge-warning">测试版</span>
  </div>
  {% if custom_domain.catch_all %}

    <div class="alert alert-warning mt-3">当启用 catch-all 时，规则无效。</div>
  {% endif %}
  <div class="{% if custom_domain.catch_all %}
     disabled-content{% endif %}">
    <div class="mt-3 mb-2">
      为了获得比简单的 catch-all 更大的控制权，您可以定义一组<b>规则</b>来自动创建别名。
      <br />
      规则基于正则表达式 (<b>regex</b>)：如果别名<b>完全</b>匹配表达式，
      它将自动创建。
    </div>
    <div class="alert alert-info">
      正则表达式测试期间仅忽略别名的 <b>local</b> 部分（即 <b>@{{ custom_domain.domain }}</b>）。
    </div>
    <div class="alert alert-info">当有多条规则时，规则将按其顺序进行评估。</div>
    {% if custom_domain.auto_create_rules | length > 0 %}

      <div class="mt-2" id="rule-list">
        {% for auto_create_rule in custom_domain.auto_create_rules %}

          <div class="card">
            <div class="card-body">
              顺序: <b>{{ auto_create_rule.order }}</b>
              <br />
              <input readonly value="{{ auto_create_rule.regex }}" class="form-control">
                新别名将属于
              {% for mailbox in auto_create_rule.mailboxes %}

                <b>{{ mailbox.email }}</b>
                {% if not loop.last %},{% endif %}
              {% endfor %}
              <form method="post" class="mt-2">
                <input type="hidden" name="form-name" value="delete-auto-create-rule">
                <input type="hidden" name="rule-id" value="{{ auto_create_rule.id }}">
                <button class="btn btn-outline-danger btn-sm float-right">删除</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="mt-2" id="new-rule">
      <hr />
      <h3>新建规则</h3>
      <form method="post" action="#rule-list" data-parsley-validate>
        <input type="hidden" name="form-name" value="create-auto-create-rule">
        {{ new_auto_create_rule_form.csrf_token }}
        <div class="form-group">
          <label>正则表达式</label>
          {{ new_auto_create_rule_form.regex(class="form-control",
                    placeholder="prefix.*") }}
          {{ render_field_errors(new_auto_create_rule_form.regex) }}
          <div class="small-text mt-2">
            例如，如果您希望自动创建以 <b>prefix</b> 开头的别名，则可以将
            正则表达式设置为
            <em data-toggle="tooltip"
            title="Click to copy"
            class="clipboard"
            data-clipboard-text="prefix.*">prefix.*</em>
            <br />
            如果您希望自动创建以 <b>suffix</b> 结尾的别名，可以使用正则表达式
            <em data-toggle="tooltip"
                title="Click to copy"
                class="clipboard"
                data-clipboard-text=".*suffix">.*suffix</em>
            <br />
            要测试正则表达式，我们建议使用正则表达式测试工具，例如
            <a href="https://regex101.com" target="_blank" rel="noopener noreferrer">https://regex101.com↗</a>
          </div>
        </div>
        <div class="form-group">
          <label>顺序</label>
          {{ new_auto_create_rule_form.order(class="form-control", placeholder="10", min=1, value=1, type="number") }}
          {{ render_field_errors(new_auto_create_rule_form.order) }}
        </div>
        <div class="form-group">
          <div class="flex-grow-1 mr-2">
            <select data-width="100%"
                    required
                    class="mailbox-select"
                    multiple
                    name="mailbox_ids">
              {% for mailbox in mailboxes %}

                <option value="{{ mailbox.id }}" {% if mailbox.id == current_user.default_mailbox_id %}selected{% endif %}>{{ mailbox.email }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <button class="btn btn-primary mt-2">创建规则</button>
      </form>
    </div>
    <div id="debug-zone">
      <hr />
      <h3>规则测试</h3>
      <p>您可以测试是否可以根据上述规则自动创建别名</p>
      <div class="alert alert-info">不用担心，测试期间不会创建别名:)</div>
      <form method="post" action="#debug-zone">
        <input type="hidden" name="form-name" value="test-auto-create-rule">
        {{ auto_create_test_form.csrf_token }}
        <div class="d-flex">
          <div class="form-group d-flex">
            {{ auto_create_test_form.local(class="form-control", type="text", placeholder="local", value=auto_create_test_local) }}
            {{ render_field_errors(auto_create_test_form.local) }}
            <b class="pt-2 ml-1">@{{ custom_domain.domain }}</b>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-primary">测试</button>
        </div>
      </form>
      {% if auto_create_test_result %}

        <div class="alert {% if auto_create_test_passed %}
           alert-success {% else %} alert-warning {% endif %}">{{ auto_create_test_result }}</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block script %}<script>$('.mailbox-select').multipleSelect();</script>{% endblock %}
