{% extends "dashboard/domain_detail/base.html" %}

{% set domain_detail_page = "trash" %}
{% block title %}{{ custom_domain.domain }} 删除别名 {% endblock %}
{% block domain_detail_content %}

  <h1 class="h3">
    {{ custom_domain.domain }} 已删除的别名 (垃圾桶)
    <a class="ml-3 text-info"
       style="font-size: 12px"
       data-toggle="collapse"
       href="#howtouse"
       role="button"
       aria-expanded="false"
       aria-controls="collapseExample">
      如何使用 <i class="fe fe-chevrons-down"></i>
    </a>
  </h1>
  <div class="collapse" id="howtouse" role="alert">
    <div class="alert alert-primary">
      在此页面上，您可以查看已删除且属于 <b>{{ custom_domain.domain }}</b> 域的所有别名
      <br />
      当别名位于垃圾箱中时，无论是通过手工创建的别名还是使用域 Catch-All 自动创建的别名，
      <br />
      您都无法重新创建它。
    </div>
  </div>
  {% if domain_deleted_aliases | length > 0 %}

    <form method="post">
      {{ csrf_form.csrf_token }}
      <input type="hidden" name="form-name" value="empty-all">
      <button class="btn btn-outline-danger">清空垃圾箱</button>
      <div class="small-text mt-3">
        从垃圾箱中删除所有已删除的别名，以便重新创建它们。
        <br />
        该操作不可逆。
      </div>
    </form>
  {% else %}
    此域名没有已删除的别名记录。
  {% endif %}
  {% for deleted_alias in domain_deleted_aliases %}

    <hr />
    <b>{{ deleted_alias.email }}</b> -
    删除于 {{ deleted_alias.created_at | dt }}
    <form method="post">
      {{ csrf_form.csrf_token }}
      <input type="hidden" name="form-name" value="remove-single">
      <input type="hidden" name="deleted-alias-id" value="{{ deleted_alias.id }}">
      <button class="btn btn-sm btn-outline-warning">从垃圾箱中删除</button>
    </form>
  {% endfor %}
{% endblock %}
