<footer class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-auto ml-lg-auto">
        <div class="row align-items-center">
          <div class="col-auto">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">PoweredBy <a href="https://github.com/simple-login/app" target="_blank" rel="noopener">
                SimpleLogin<i class="fe fe-external-link"></i>
              </a></li>
              <li class="list-inline-item"><a href="mailto:{{SUPPORT_EMAIL}}">Contact Us
                <i class="fe fe-external-link"></i></a></li>
              <li class="list-inline-item intro-step-0">
                <a onclick="startIntro()"
                   data-intro="欢迎使用 原邮邮箱！<br><br>
                   似乎这是您第一次来这里，
                   让我们一起了解一些 原邮邮箱 功能！<br><br>
                   您可以随时通过单击下面的 <i class='fe fe-help-circle'></i> 图标再次显示本教程👇"
                   data-step="1"
                ><i class="fe fe-help-circle"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        © {{ YEAR }}
        <a href="https://app.yuanyou.de" target="_blank" rel="noopener">原邮邮箱</a>.
      </div>
    </div>
  </div>
</footer>

<script>
  function startIntro() {
    introJs().setOption('showProgress', true).start();
    introJs().start();
  }
</script>

<script src="{{ url_for('static', filename='node_modules/vue/dist/vue.min.js') }}"></script>

<script>
  var app = new Vue({
    el: '#notification-app',
    delimiters: ["[[", "]]"], // necessary to avoid conflict with jinja
    data: {
      notifications: [],
      page: 0,
      loading: true,
      canLoadMore: false,
      showNotification: false,
    },
    computed: {
      has_non_read_notification: function () {
        for (let i = 0; i < this.notifications.length; i++) {
          if (!this.notifications[i].read) return true;
        }
        return false;
      }
    },
    methods: {
      markAsRead: async function (notification) {
        notification.read = true;
        let res = await fetch(`/api/notifications/${notification.id}/read`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          }
        });

        if (!res.ok) {
          toastr.error("抱歉造成不便！您可以刷新页面并重试吗？", "未知错误");
        }
      },

      loadMore: async function () {
        let that = this;
        that.page += 1;

        let res = await fetch(`/api/notifications?page=${that.page}`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          }
        });
        if (res.ok) {
          let json = await res.json();
          that.canLoadMore = json.more;
          that.notifications = that.notifications.concat(json.notifications);
        }
      }

    },
    async mounted() {
      let that = this;
      let res = await fetch(`/api/notifications?page=${that.page}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        }
      });
      if (res.ok) {
        let json = await res.json();
        that.notifications = json.notifications;
        that.loading = false;
        that.canLoadMore = json.more
        if (that.notifications.length > 0)
          that.showNotification = true;
      }
    }
  })
</script>
