{% extends "single.html" %}

{% block title %}验证您的安全密钥{% endblock %}
{% block head %}

  <script src="{{ url_for('static', filename='assets/js/vendors/base64.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/vendors/webauthn.js') }}"></script>
{% endblock %}
{% block single_content %}

  <div class="card">
    <div class="card-body">
      <div class="mb-2">
        您的帐户受到安全密钥（WebAuthn）的保护。
        <br />
        <br />
        按照浏览器的步骤继续登录过程。
      </div>
      <form id="formRegisterKey" method="post">
        {{ fido_token_form.csrf_token }}
        {{ fido_token_form.sk_assertion(class="form-control", placeholder="") }}
        <div class="text-center">
          <button id="btnVerifyKey" class="btn btn-success mt-2" onclick="verifyKey();">使用安全密钥</button>
        </div>
        <div class="form-check">
          {{ fido_token_form.remember(class="form-check-input", id="remember") }}
          <label class="form-check-label" for="remember">{{ fido_token_form.remember.description }}</label>
        </div>
      </form>
      {% if enable_otp %}

        <hr />
        <div class="text-muted mt-5" style="margin-top: 1em;">
          你没带安全密钥吗？
          <br />
          <a href="{{ url_for("auth.mfa") }}">通过一次性密码验证</a>
        </div>
      {% endif %}
      <hr />
      <div class="mt-5">
        如果您的身份验证应用程序遇到问题，您可以使用恢复代码登录。
        <br />
        <a href="{{ url_for('auth.recovery_route', next=next_url) }}">使用恢复代码</a>
      </div>
      <script>
        async function verifyKey() {
          $("#btnVerifyKey").prop('disabled', true);
          $("#btnVerifyKey").text('等待安全密钥...');

          const credentialRequestOptions = transformCredentialRequestOptions(
            JSON.parse('{{webauthn_assertion_options|tojson|safe}}')
          )

          let assertion;
          try {
            assertion = await navigator.credentials.get({
              publicKey: credentialRequestOptions
            });
          } catch (err) {
            toastr.error("当我们尝试验证您的密钥时发生错误。");
            $("#btnVerifyKey").prop('disabled', false);
            $("#btnVerifyKey").text('使用安全密钥');
            return console.error("尝试获取凭证时出错：", err);
          }

          const skAssertion = transformAssertionForServer(assertion);
          $('#sk_assertion').val(JSON.stringify(skAssertion));
          $('#formRegisterKey').submit();
        }

      </script>
      {% if auto_activate %}<script>$('document').ready(verifyKey());</script>{% endif %}
    </div>
  </div>
{% endblock %}
