{% extends "single.html" %}

{% block title %}忘记密码{% endblock %}
{% block single_content %}

  {% if error %}<div class="text-danger text-center mb-4">{{ error }}</div>{% endif %}
  <form class="card" method="post">
    {{ form.csrf_token }}
    <div class="card-body p-6">
      <h1 class="card-title">忘记密码</h1>
      <div class="form-group">
        <label class="form-label">电子邮箱地址</label>
        {{ form.email(class="form-control", type="email") }}
        {{ render_field_errors(form.email) }}
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">重置密码</button>
      </div>
    </div>
  </form>
  <div class="text-center text-muted">
    放弃重置密码，
    返回到<a href="{{ url_for("auth.login") }}">登陆页面</a>
  </div>
{% endblock %}
