{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block title %}接收别名 {{ alias.email }}{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">接收别名 {{ alias.email }}</h1>
      <p>
        你将成为 <b>{{ alias.email }}</b> 的拥有者
      </p>
      <p>
        请选择拥有此别名的邮箱 👇
      </p>
      <form method="post" class="mt-2">
        <select data-width="100%" class="mailbox-select" multiple name="mailbox_ids">
          {% for mailbox in mailboxes %}

            <option value="{{ mailbox.id }}" {% if mailbox.id == current_user.default_mailbox_id %}selected{% endif %}>{{ mailbox.email }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-success mt-2">Confirm</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}<script>$('.mailbox-select').multipleSelect();</script>{% endblock %}
