{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block title %}联系人管​​理{% endblock %}
{% block default_content %}

  <div class="row">
    <div class="col">
      <h1 class="h3">
        {{ alias.email }} 的联系人
        <a class="ml-3 text-info"
           style="font-size: 12px"
           data-toggle="collapse"
           href="#howtouse"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
          如何使用 <i class="fe fe-chevrons-down"></i>
        </a>
      </h1>
      <div class="collapse" id="howtouse" role="alert">
        <div class="alert alert-primary">
          <p>
            你想要从你的别名，给别人发送电子邮件，你需要创建一个<em>反向别名</em>，即
            一个特殊的电子邮件地址。
            <br>
            当你用自己的真实邮箱，向反向别名发送电子邮件时，该电子邮件将<b>从你的别名</b>发送到联系人。
            <br>
          </p>
          <p>
            {% if alias.mailbox_id %}
              {% if alias.mailboxes | length == 1 %}

                <p style="color: red;">
                  注意：这里有一个限制。不然别人知道了你的反向别名，谁都可以冒充你了。
                  <p>
                    限制：一定要从邮箱 <em>{{ alias.mailbox.email }}</em> 发送电子邮件。否则会被本网站拒收。
                  {% else %}
                    <p style="color: red;">
                      注意：这里有一个限制。不然别人知道了你的反向别名，谁都可以冒充你了。
                      <p>
                        限制：一定要从以下邮箱之一发送电子邮件：
                        <br>
                        {% for mailbox in alias.mailboxes %}

                          - <b>{{ mailbox.email }}</b>
                          <br>
                        {% endfor %}
                      {% endif %}
                    {% else %}
                      <p style="color: red;">注意：这里有一个限制。不然别人知道了你的反向别名，谁都可以冒充你了。</p>
                      限制：确保从个人电子邮件地址发送电子邮件 ({{ current_user.email }}).
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% if can_create_contacts %}

              <div class="row mb-5">
                <div class="col-12 col-md-6 pt-1">
                  <form method="post">
                    <input type="hidden" name="form-name" value="create" />
                    {{ new_contact_form.csrf_token }}
                    {{ new_contact_form.email(class="form-control", placeholder="名 姓 <email@example.com> 或者 直接填写邮箱地址也可以", autofocus=True) }}
                    {{ render_field_errors(new_contact_form.email) }}
                    <div class="small-text mt-2">您想将电子邮件发送到哪里？</div>
                    {% if can_create_contacts %}

                      <button class="btn btn-primary mt-2">创建反向别名邮箱</button>
                    {% else %}
                      <button disabled title="升级到高级版以创建反向别名" class="btn btn-primary mt-2">创建反向别名邮箱</button>
                    {% endif %}
                  </form>
                </div>
              {% endif %}
              <div class="col-12 col-md-6 pt-1 d-none d-sm-block">
                <div class="float-right d-flex">
                  <form method="post">
                    {{ csrf_form.csrf_token }}
                    <input type="hidden" name="form-name" value="search">
                    <input type="search"
                           name="query"
                           value="{{ query }}"
                           placeholder="输入以搜索联系人"
                           class="form-control shadow mr-2"
                           style="max-width: 20em">
                  </form>
                  {% if query %}
                    {% if highlight_contact_id %}

                      <a href="{{ url_for("dashboard.alias_contact_manager", alias_id=alias.id, highlight_contact_id=highlight_contact_id) }}"
                         class="btn btn-light">重置</a>
                    {% else %}
                      <a href="{{ url_for("dashboard.alias_contact_manager", alias_id=alias.id) }}"
                         class="btn btn-light">重置</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              {% for contact_info in contact_infos %}

                {% set contact = contact_info.contact %}
                <div class="col-md-6">
                  <div class="my-2 p-2 card {% if contact.id == highlight_contact_id %}highlight-row{% endif %}">
                    <div class="mb-2 row">
                      <div class="col">
                        <span class="font-weight-bold">{{ contact.website_email }}</span>
                        {% if contact.pgp_finger_print %}

                          <span class="cursor" data-toggle="tooltip" data-original-title="PGP 已启用">🗝</span>
                        {% endif %}
                      </div>
                      <div class="col text-right">
                        <label class="custom-switch cursor" data-toggle="tooltip" {% if contact.block_forward %}
                           title="解除阻止发件人 - 开始接收来自此发件人的电子邮件" {% else %} title="阻止发件人 - 停止接收来自此发件人的电子邮件" {% endif %} style="padding-left: 0px">
                          <input type="checkbox" class="enable-disable-contact custom-switch-input" data-contact="{{ contact.id }}" data-contact-email="{{ contact.website_email }}" {{ "checked" if not contact.block_forward else "" }}>
                          <span class="custom-switch-indicator"></span>
                        </label>
                      </div>
                    </div>
                    <div>
                      <span>
                        <a href="{{ 'mailto:' + contact.website_send_to() }}"
                           target="_blank"
                           data-toggle="tooltip"
                           title="您可以单击此处打开您的电子邮件客户端。或者使用复制按钮 👉"
                           class="font-weight-bold">*************************</a>
                        <span class="clipboard btn btn-sm btn-success copy-btn"
                              data-toggle="tooltip"
                              title="复制反向别名邮箱地址"
                              data-clipboard-text="{{ contact.website_send_to() }}">复制反向别名邮箱地址</span>
                      </span>
                    </div>
                    <div class="mb-2 text-muted small-text">
                      {% if contact_info.latest_email_log != None %}

                        {% set email_log = contact_info.latest_email_log %}
                        {% if email_log.is_reply %}

                          <i class="fa fa-reply mr-2" data-toggle="tooltip" title="电子邮件回复/从别名发送"></i>
                          {{ email_log.created_at | dt }}
                        {% elif email_log.bounced %}
                          <span class="text-danger">
                            <i class="fa fa-warning mr-2"
                               data-toggle="tooltip"
                               title="电子邮件被退回，无法转发至您的邮箱"></i>
                            {{ email_log.created_at | dt }}
                          </span>
                        {% elif email_log.blocked %}
                          <i class="fa fa-ban mr-2 text-danger"
                             data-toggle="tooltip"
                             title="电子邮件被阻止"></i>
                          {{ email_log.created_at | dt }}
                        {% else %}
                          <i class="fa fa-paper-plane  mr-2"
                             data-toggle="tooltip"
                             title="电子邮件已发送至别名"></i>
                          {{ email_log.created_at | dt }}
                        {% endif %}
                        <br />
                        已创建联系人 {{ contact.created_at | dt }}
                      {% else %}
                        过去 14 天内无活动。联系人创建于 {{ contact.created_at | dt }}
                      {% endif %}
                      <div>
                        <span class="alias-activity">{{ contact_info.nb_forward }}</span> 个转发,
                        <span class="alias-activity">{{ contact_info.nb_reply }}</span> 个发送 ( 14天内 )
                      </div>
                    </div>
                    <a href="{{ url_for('dashboard.contact_detail_route', contact_id=contact.id) }}">编辑 ➡</a>
                    <form method="post">
                      {{ csrf_form.csrf_token }}
                      <input type="hidden" name="form-name" value="delete">
                      <input type="hidden" name="contact-id" value="{{ contact.id }}">
                      <span class="card-link btn btn-link float-right delete-forward-email text-danger">删除</span>
                    </form>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% if nb_contact > PAGE_LIMIT or page > 0 %}

              <div class="row mt-3">
                <div class="col">
                  <nav aria-label="Contact navigation">
                    <ul class="pagination">
                      <li class="page-item mr-2">
                        <a class="btn btn-outline-secondary {% if page == 0 %}disabled{% endif %}" href="{{ url_for('dashboard.alias_contact_manager', alias_id=alias.id, page=page-1) }}">
                          上一页
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="btn btn-outline-secondary {% if last_page %}disabled{% endif %}" href="{{ url_for('dashboard.alias_contact_manager', alias_id=alias.id, page=page+1) }}">
                          下一页
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            {% endif %}
          {% endblock %}
          {% block script %}

            <script>
    $(".delete-forward-email").on("click", function (e) {
      let that = $(this);

      bootbox.confirm({
        message: "与此联系人相关的所有活动也将被删除，请确认。",
        buttons: {
          confirm: {
            label: '确认删除',
            className: 'btn-danger'
          },
          cancel: {
            label: '取消',
            className: 'btn-outline-primary'
          }
        },
        callback: function (result) {
          if (result) {
            that.closest("form").submit();
          }
        }
      })
    });

    $(".enable-disable-contact").change(async function () {
      let contactID = $(this).data("contact");
      let contactEmail = $(this).data("contact-email");

      await blockContact(contactID, contactEmail);
    })

    async function blockContact(contactID, contactEmail) {
      let oldValue;
      try {
        let res = await fetch(`/api/contacts/${contactID}/toggle`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
              '{{HEADER_ALLOW_API_COOKIES}}': 'allow'
          }
        });

        if (res.ok) {
          let json = await res.json();

          if (json.block_forward) {
            toastr.success(`${contactEmail} 已经禁用`);
          } else {
            toastr.success(`${contactEmail} 已经启用`);
          }
        } else {
          toastr.error("抱歉造成不便！您可以刷新页面并重试吗？", "未知错误");
          // reset to the original value
          oldValue = !$(this).prop("checked");
          $(this).prop("checked", oldValue);
        }
      } catch (e) {
        toastr.error("抱歉造成不便！您可以刷新页面并重试吗？", "未知错误");
        // reset to the original value
        oldValue = !$(this).prop("checked");
        $(this).prop("checked", oldValue);
      }
    }
            </script>
          {% endblock %}
