{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block title %} 转移别名 {{ alias.email }}{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">转移别名 {{ alias.email }}</h1>
    <p>
      此页面允许您将 <em>{{ alias.email }}</em>
      转移给其他人，以便他们可以使用它来接收和发送电子邮件。
    </p>

      {% if alias_transfer_url %}

        <em data-toggle="tooltip"
            title="点击复制"
            class="clipboard"
            data-clipboard-text="{{ alias_transfer_url }}">{{ alias_transfer_url }}</em>
        <p class="mt-5">
          请复制转移网址。<strong>我们将无法再次显示它</strong>。如果您需要再次访问它，您可以生成一个新的网址。
        </p>
        <p class="mt-2">
          此转移网址<strong>有效期为 24 小时</strong>。如果在此之前尚未使用，它将被自动禁用。
        </p>
        <form method="post">
          {{ csrf_form.csrf_token }}
          <input type="hidden" name="form-name" value="remove">
          <button class="btn btn-warning mt-2">删除别名转移网址</button>
          <div class="small-text mt-3">如果您不想再分享该别名，您可以删除分享URL。</div>
        </form>
      {% else %}
        {% if link_active %}

          <p class="alert alert-info">
            您有一个有效的转移链接。如果您不想再分享此别名，请删除该链接。
          </p>
          <form method="post">
            {{ csrf_form.csrf_token }}
            <input type="hidden" name="form-name" value="remove">
            <button class="btn btn-warning mt-2">删除别名转移网址</button>
          </form>
        {% else %}
          <p>
            为了转让所有权，
            请创建<b>转移网址</b> 👇 并将其发送给其他人。
          </p>
          <form method="post">
            {{ csrf_form.csrf_token }}
            <input type="hidden" name="form-name" value="create">
            <button class="btn btn-primary mt-2">生成新的别名转移网址</button>
          </form>
        {% endif %}
      {% endif %}
      <p class="mt-5">然后此人可以确认接收并成为别名的所有者。</p>
      <div class="alert alert-danger">确认之后，您将不能再使用该别名。</div>
    </div>
  </div>
{% endblock %}
