{% extends "default.html" %}

{% block title %}API Key{% endblock %}
{% set active_page = "api_key" %}
{% block head %}{% endblock %}
{% block default_content %}

  <div class="row">
    <div class="col">
      <h1 class="h3">API Keys</h1>
      <div class="alert alert-info">
        当您登录 原邮邮箱 移动应用或浏览器扩展程序时，
        <br />
        系统会自动创建一个新的 API 密钥并将其存储在您的设备上。
        <br />
        它通常以创建它的设备命名，例如 Samsung S8、John 的 iPhone 等。
      </div>
      <div class="alert alert-danger">
        API 密钥应该保密并像密码一样对待，它们可以用来访问您的帐户。
      </div>
      <div class="row">
        {% for api_key in api_keys %}

          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ api_key.name or "N/A" }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {% if api_key.last_used %}

                    创建于 {{ api_key.created_at | dt }}.
                    已使用 {{ api_key.times }} 次.
                    最后一次使用于 {{ api_key.last_used | dt }}.
                  {% else %}
                    从未使用
                  {% endif %}
                </h6>
                <div class="input-group">
                  <input class="form-control"
                         id="apikey-{{ api_key.id }}"
                         readonly
                         value="**********">
                </div>
                <br />
                <div class="row">
                  <div class="col">
                    <form method="post">
                      {{ csrf_form.csrf_token }}
                      <input type="hidden" name="form-name" value="delete">
                      <input type="hidden" name="api-key-id" value="{{ api_key.id }}">
                      <span class="card-link btn btn-link float-right text-danger delete-api-key">删除</span>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if api_keys|length > 0 %}

        <form method="post">
          {{ csrf_form.csrf_token }}
          <input type="hidden" name="form-name" value="delete-all">
          <span class="delete btn btn-outline-danger delete-all-api-keys float-right">
            全部删除&nbsp;<i class="fe fe-trash"></i>
          </span>
        </form>
        <br />
      {% endif %}
      <hr />
      <form method="post">
        {{ csrf_form.csrf_token }}
        <input type="hidden" name="form-name" value="create">
        <h2 class="h4">新的 API Key</h2>
        {{ new_api_key_form.name(class="form-control", placeholder="Chrome") }}
        {{ render_field_errors(new_api_key_form.name) }}
        <div class="small-text mt-2">API 密钥的名称，例如它将在何处使用。</div>
        <button class="btn btn-success mt-2">创建</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}

  <script>
    $(".delete-api-key").on("click", function (e) {
      let that = $(this);

      bootbox.confirm({
        message: "如果该API Key正在使用中，您可能需要在相应设备上重新登录，请确认。",
        buttons: {
          confirm: {
            label: '确认删除',
            className: 'btn-danger'
          },
          cancel: {
            label: '取消',
            className: 'btn-outline-primary'
          }
        },
        callback: function (result) {
          if (result) {
            that.closest("form").submit();
          }
        }
      })


    });

    $(".delete-all-api-keys").on("click", function (e) {
      let that = $(this);

      bootbox.confirm({
        message: "这将删除所有 API 密钥，它们将全部停止工作，你确定吗？",
        buttons: {
          confirm: {
            label: '全部删除',
            className: 'btn-danger'
          },
          cancel: {
            label: '取消',
            className: 'btn-outline-primary'
          }
        },
        callback: function (result) {
          if (result) {
            that.closest("form").submit();
          }
        }
      })


    });

  </script>
{% endblock %}
