{% extends "default.html" %}

{% set active_page = "app" %}
{% block title %}使用 原邮邮箱 应用登录{% endblock %}
{% block default_content %}

  <div class="row">
    <div class="col">
      <h1 class="h3">Apps</h1>
      <div class="small-text">
        您使用过的网站/应用程序列表<b>使用 原邮邮箱 登录</b>
      </div>
    </div>
  </div>
  <div class="row row-cards row-deck mt-4">
    <div class="col-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
              <tr>
                <th>App</th>
                <th>
                  信息
                  <i class="fe fe-help-circle"
                     data-toggle="tooltip"
                     title="此应用程序/网站接收的信息"></i>
                </th>
                <th>
                  第一次使用
                  <i class="fe fe-help-circle"
                     data-toggle="tooltip"
                     title="您第一次使用此应用程序/网站上的“使用 原邮邮箱 登录”按钮"></i>
                </th>
                <th>行为记录</th>
                <!--<th class="text-center">Last used</th>-->
              </tr>
            </thead>
            <tbody>
              {% for client_user in client_users %}

                <tr>
                  <td>{{ client_user.client.name }}</td>
                  <td>
                    {% for scope, val in client_user.get_user_info().items() %}

                      <div>
                        {% if scope == "email" %}

                          Email:
                          <a href="mailto:{{ val }}" target="_blank">{{ val }}</a>
                        {% elif scope == "name" %}
                          Name: {{ val }}
                        {% endif %}
                      </div>
                    {% endfor %}
                  </td>
                  <td>{{ client_user.created_at | dt }}</td>
                  <td>
                    <form method="post">
                      <input type="hidden" name="client-user-id" value="{{ client_user.id }}">
                      <button class="btn btn-warning">Remove</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
