{% extends "default.html" %}

{% set active_page = "setting" %}
{% block title %}Alias 批量导入{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">Alias 批量导入</h1>
      <div class="alert alert-primary">
        仅可导入使用<b>您已验证的域</b>创建的别名。
        <br />
        如果为别名设置了邮箱，则只有当它们已经存在时才会链接。
        <br />
        请确保使用 csv 模板文件。
      </div>
      <p>
       导入可能需要几分钟。
      请返回此页面以验证导入状态。
      <br />
      如果别名已存在，则不会导入。
      </p>
      <a href="{{ url_for('static', filename='batch_import_template.csv') }}"
         download>下载 CSV 模板</a>
      <hr />
      <form method="post" enctype="multipart/form-data" class="mt-4">
        {{ csrf_form.csrf_token }}
        <input required
               type="file"
               name="alias-file"
               accept=".csv"
               class="form-control-file">
        <label class="mt-2">
          仅支持 <b>.csv</b> 文件。
        </label>
        <br />
        <button class="btn btn-success mt-2">上传</button>
      </form>
      {% if batch_imports %}

        <hr />
        <h2 class="h3 mt-7">批量导入</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">导入于</th>
              <th scope="col">已导入别名数量</th>
              <th scope="col">状态</th>
            </tr>
          </thead>
          <tbody>
            {% for batch_import in batch_imports %}

              <tr>
                <td>{{ batch_import.created_at | dt }}</td>
                <td>{{ batch_import.nb_alias() }}</td>
                <td>
                  {% if batch_import.processed %}

                    已处理 ✅
                  {% else %}
                    待处理
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
