{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block title %}联系人 {{ contact.email }} - 别名 {{ alias.email }}{% endblock %}
{% block default_content %}

  <div class="row">
    <div class="col">
      <h1 class="h3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ url_for('dashboard.alias_contact_manager', alias_id=alias.id) }}">{{ alias.email }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ contact.email }}
              {% if contact.pgp_finger_print %}

                <span class="cursor"
                      data-toggle="tooltip"
                      data-original-title="PGP Enabled">🗝</span>
              {% endif %}
            </li>
          </ol>
        </nav>
      </h1>
      <div class="card">
        <form method="post">
          {{ pgp_form.csrf_token }}
          <input type="hidden" name="form-name" value="pgp">
          <div class="card-body">
            <div class="card-title">
              加密电子邮件 (PGP)
              <div class="small-text mt-2">
                通过将您的联系人 PGP 公钥导入原邮邮箱，从您的别名 <b>{{ alias.email }}</b> 发送到
                <b>{{ contact.email }}</b> 的所有电子邮件都将被<b>加密</b>。
              </div>
            </div>
            {% if not current_user.is_premium() %}

              <div class="alert alert-danger" role="alert">此功能仅在高级计划中可用。</div>
            {% endif %}
            <div class="form-group">
              <label class="form-label">PGP 公钥</label>
              <textarea name="pgp"
                        {% if not current_user.is_premium() %}disabled{% endif %}
                        class="form-control"
                        rows="10"
                        id="pgp-public-key"
                        placeholder="(将您的 PGP 公钥拖放或粘贴到此处)&#10;-----BEGIN PGP PUBLIC KEY BLOCK-----">{{ contact.pgp_public_key or "" }}</textarea>
            </div>
            <button class="btn btn-primary" name="action" {% if not current_user.is_premium() %}disabled{% endif %} value="save">保存</button>
            {% if contact.pgp_finger_print %}

              <button class="btn btn-danger float-right" name="action" value="remove">移除</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}

  <script src="/static/js/utils/drag-drop-into-text.js"></script>
  <script>enableDragDropForPGPKeys('#pgp-public-key');</script>
{% endblock %}
