{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block head %}

  <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
  <script>
    if (window.Paddle === undefined) {
      console.log("cannot load Paddle from CDN");
      document.write('<script src="/static/vendor/paddle.js"><\/script>')
    }
</script>
<style type="text/css">
      html.mvc__a.mvc__lot.mvc__of.mvc__classes.mvc__to.mvc__increase.mvc__the.mvc__odds.mvc__of.mvc__winning.mvc__specificity, html.mvc__a.mvc__lot.mvc__of.mvc__classes.mvc__to.mvc__increase.mvc__the.mvc__odds.mvc__of.mvc__winning.mvc__specificity > body {
          position: static;
      }
</style>
{% endblock %}
{% block title %}高级会员兑换券{% endblock %}
{% block default_content %}

{% if can_use_coupon %}

<div class="card">
<div class="card-body">
<h1 class="h2">高级会员兑换券</h1>
<div class="mb-4">请在此处输入兑换券来升级您的帐户或延长您当前的订阅。</div>
<form method="post">
{{ coupon_form.csrf_token }}
{{ coupon_form.code(class="form-control", placeholder="兑换码") }}
{{ render_field_errors(coupon_form.code) }}
<button class="btn btn-success mt-2">应用</button>
</form>
</div>
</div>
{% endif %}
<div class="card">
<div class="card-body">
<h2>1 年期兑换券</h2>
<div class="mb-3">
您可以购买 1 年期兑换券，任何人都可以使用 原邮邮箱 高级会员 1 年。
可以作为礼品卡 :)。
付款后，兑换券将通过电子邮件发送给您。
</div>
<div class="alert alert-info">兑换券必须在 {{ max_coupon_date.date().isoformat() }}</div>
<a href="#!" class="paddle_button btn btn-primary" data-product="{{ PADDLE_COUPON_ID }}">
购买 1 年期兑换券
</a>
</div>
</div>
{% endblock %}
{% block script %}<script type="text/javascript">Paddle.Setup({vendor: {{PADDLE_VENDOR_ID }} });</script>{% endblock %}
