{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block title %}自定义别名邮箱{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">新的自定义别名邮箱</h1>
      {% if is_alias_suffix and not DISABLE_ALIAS_SUFFIX %}

        <div class="row">
          <div class="col p-1">
            <div class="alert alert-primary" role="alert">
              您可能会注意到别名中的点 (<em>.</em>) 后面有一个随机单词。
              此部分是为了避免有人使用所有“好”的别名，例如
              <b>hello@{{ FIRST_ALIAS_DOMAIN }}</b>、
              <b>me@{{ FIRST_ALIAS_DOMAIN }}</b> 等。
              <br />
              如果您添加自己的域（或子域），则此限制将被删除，您可以完全自定义别名。
              <br />
              <p>
                <span class="text-danger">付费用户</span>可以创建无随机后缀别名，例如 <span class="text-success">xxxxx@{{ FIRST_ALIAS_DOMAIN }}</span>，需要在设置中 <span class="text-danger">禁用</span> 别名随机后缀
              </p>
            </div>
          </div>
        </div>
      {% endif %}
      <form method="post" data-parsley-validate>
        <div class="row mb-2">
          <div class="col-sm-4 mb-1 p-1" style="min-width: 4em">
            <input name="prefix"
                   class="form-control"
                   id="prefix"
                   type="text"
                   data-parsley-pattern="[0-9a-z-_.]{1,}"
                   data-parsley-trigger="change"
                   data-parsley-error-message="目前仅支持小写字母、点、数字、破折号 (-) 和下划线 (_)。"
                   maxlength="40"
                   placeholder="别名前缀，例如 newsletter.com-123_xyz"
                   autofocus
                   required>
          </div>
          <div class="col-sm-8 p-1">
            <select class="form-control" name="signed-alias-suffix">
              {% for alias_suffix in alias_suffixes %}

                <option value="{{ alias_suffix.signed_suffix }}" {% if alias_suffix.is_premium %}
                   title="仅适用于高级帐户" {% elif not alias_suffix.is_custom and at_least_a_premium_domain %} title="适用于所有帐户" {% endif %}>
                  {% if alias_suffix.is_custom %}
                    {% if alias_suffix.mx_verified %}

                      {{ alias_suffix.suffix }} (你的域名)
                    {% else %}
                      {{ alias_suffix.suffix }} (你的域名, MX 记录未验证，验证通过才可接收邮件)
                    {% endif %}
                  {% else %}
                    {% if alias_suffix.is_premium %}

                      {{ alias_suffix.suffix }} (仅高级会员可用)
                    {% else %}
                      {{ alias_suffix.suffix }} (公共域名)
                    {% endif %}
                  {% endif %}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col p-1">
            <select data-width="100%"
                    class="mailbox-select"
                    id="mailboxes"
                    multiple
                    name="mailboxes"
                    required>
              {% for mailbox in mailboxes %}

                <option value="{{ mailbox.id }}" {% if mailbox.id == current_user.default_mailbox_id %}selected{% endif %}>{{ mailbox.email }}</option>
              {% endfor %}
            </select>
            <div class="small-text mt-2">拥有该别名的收件邮箱</div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col p-1">
            <textarea name="note"
                      class="form-control"
                      rows="3"
                      placeholder="注意，可以是任何内容，以帮助您记住创建此别名的原因。此字段是可选的。"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col p-1">
            {{ csrf_form.csrf_token }}
            <button type="submit" id="create" class="btn btn-primary mt-1">创建</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    $('.mailbox-select').multipleSelect();

    // Ctrl-enter submit the form
    $('form').keydown(function (event) {
      if (event.ctrlKey && event.keyCode === 13) {
        $("#submit").click();
      }
    })

    $("#create").on("click", async function () {
      let that = $(this);
      let mailbox_ids = $(`#mailboxes`).val();
      let prefix = $('#prefix').val();

      if (mailbox_ids.length == 0) {
        toastr.error("您必须至少选择一个邮箱", "Error");
        return;
      }

      if (!prefix) {
        toastr.error("别名不能为空", "Error");
        return;
      }

      that.closest("form").submit();

    })
  </script>
{% endblock %}
