{% extends "default.html" %}

{% set active_page = "setting" %}
{% block title %}管理员模式{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h2">进入管理员模式</h1>
      <p>下一页包含安全相关的设置。</p>
      <p>请输入您的账户密码，以便我们确认您的身份。</p>
      <form method="post">
        {{ password_check_form.csrf_token }}
        <div class="font-weight-bold mt-5">密码</div>
        {{ password_check_form.password(class="form-control", autofocus="true") }}
        {{ render_field_errors(password_check_form.password) }}
        <button class="btn btn-lg btn-danger mt-2">提交</button>
      </form>
      {% if connect_with_proton %}

        <div class="my-3">
          <p>或者，您可以使用您的 Proton 凭证来确保是您本人。</p>
        </div>
        <a class="btn btn-primary btn-block mt-2 proton-button"
           href="{{ url_for('auth.proton_login', next=next) }}"
           style="max-width: 400px">
          <img class="mr-2" src="/static/images/proton.svg" />
          使用 Proton 进行身份验证
        </a>
      {% endif %}
      {% if connect_with_oidc %}

        <div class="my-3">
          <p>或者，您可以使用您的 SSO 凭证来确保是您本人。</p>
        </div>
        <a class="btn btn-primary btn-block mt-2 btn-social w-25"
           href="{{ url_for('auth.oidc_login', next=next) }}">
          <i class="fa {{ connect_with_oidc_icon }}"></i> 使用 SSO 进行身份验证
        </a>
      {% endif %}
      {% if connect_with_google %}

        <div class="my-3">
          <p>或者，您可以使用您的 Google 凭证来确保是您本人。</p>
        </div>
        <a class="btn btn-primary btn-block mt-2 proton-button"
           href="{{ url_for('auth.google_login', next=next) }}"
           style="max-width: 400px">
          <img class="mr-2" height="24px" src="/static/images/google.svg" />
          使用 Google 进行身份验证
        </a>
      {% endif %}
      {% if connect_with_linuxdo %}

        <div class="my-3">
          <p>或者，您可以使用您的 LinuxDo 凭证来确保是您本人。</p>
        </div>
        <a class="btn btn-primary btn-block mt-2"
           href="{{ url_for('auth.linuxdo_login', next=next) }}"
           style="max-width: 400px;
                  color:#000;
                  background-color:#fff">
          <img class="mr-2" height="24px" src="/static/images/linuxdo.svg" />
          使用 LinuxDo 进行身份验证
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
