{% extends "default.html" %}

{% set active_page = "setting" %}
{% block title %}管理安全密钥{% endblock %}
{% block head %}

  <script src="{{ url_for('static', filename='node_modules/qrious/dist/qrious.min.js') }}"></script>
{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h2">管理您的安全密钥</h1>
      <p>取消链接所有密钥也将禁用 WebAuthn 2FA。</p>
      <form id="formManageKey" method="post">
        {{ fido_manage_form.csrf_token }}
        {{ fido_manage_form.credential_id(class="form-control", placeholder="") }}
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">名称</th>
            <th scope="col">链接至</th>
            <th scope="col" class="text-center">行动</th>
          </tr>
        </thead>
        <tbody>
          {% for key in keys %}

            <tr>
              <th scope="row">{{ key.id }}</th>
              <td>{{ key.name }}</td>
              <td>{{ key.created_at | dt }}</td>
              <td class="text-center">
                <button class="btn btn-outline-danger"
                        onclick="$('#credential_id').val('{{ key.credential_id }}'); $('#formManageKey').submit();">
                  解除链接
                </button>
              </td>
            </tr>
          {% endfor %}
          <tr>
            <th scope="row">#</th>
            <td>链接新密钥</td>
            <td></td>
            <td class="text-center">
              <a href="{{ url_for("dashboard.fido_setup") }}">
                <button class="btn btn-outline-success">链接</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
