{% extends "default.html" %}

{% set active_page = "mailbox" %}
{% block title %} 收件邮箱 {{ mailbox.email }}{% endblock %}
{% block head %}

  <style>
      div[disabled]
      {
          pointer-events: none;
          opacity: 0.7;
      }
  </style>
{% endblock %}
{% block default_content %}

  <div class="row">
    <div class="col">
      <h1 class="h3">
        {{ mailbox.email }}
        {% if mailbox.verified %}

          <span class="cursor"
                data-toggle="tooltip"
                data-original-title="收件邮箱已验证">✅</span>
        {% else %}
          <span class="cursor"
                data-toggle="tooltip"
                data-original-title="收件邮箱未验证">🚫</span>
        {% endif %}
        {% if mailbox.pgp_enabled() %}

          <span class="cursor"
                data-toggle="tooltip"
                data-original-title="PGP 已启用">🗝</span>
        {% endif %}
      </h1>
      {% if not mailbox.verified %}

        <div class="alert alert-info">
          邮箱未验证，请检查您的收件箱/垃圾邮件文件夹中是否有验证邮件。
          <br />
          要再次收到验证邮件，您可以删除并重新添加邮箱。
        </div>
      {% endif %}
      <!-- Change email -->
      <div class="card">
        <form method="post" enctype="multipart/form-data">
          <input type="hidden" name="form-name" value="update-email">
          {{ change_email_form.csrf_token }}
          <div class="card-body">
            <div class="card-title">更改收件邮箱地址</div>
            <div class="form-group">
              <label class="form-label">地址</label>
              <!-- Not allow user to change mailbox if there's a pending change -->
              {{ change_email_form.email(class="form-control", value=mailbox.email, readonly=pending_email != None) }}
              {{ render_field_errors(change_email_form.email) }}
              {% if pending_email %}

                <div class="mt-2">
                  <span class="text-danger">更改中: {{ pending_email }}</span>
                  <a href="{{ url_for('dashboard.cancel_mailbox_change_route', mailbox_id=mailbox.id) }}"
                     class="btn btn-secondary btn-sm">取消收件邮箱变更</a>
                </div>
              {% endif %}
            </div>
            <button class="btn btn-primary">修改</button>
          </div>
        </form>
      </div>
      <!-- END Change email -->
      <!-- Not show PGP option for Proton mailbox -->
      {% if mailbox.is_proton() and not mailbox.pgp_enabled() %}

        <div class="alert alert-info">
          由于 Proton Mail 中的电子邮件始终处于静态加密状态，因此让 原邮邮箱 也加密您的电子邮件是多余的，并且不会增加任何安全优势。
          <br>
          当您的邮箱提供商（如 Gmail/Outlook 等）默认不加密时，原邮邮箱 上的 PGP 选项很有用。
        </div>
      {% endif %}
      <div class="{% if mailbox.is_proton() and not mailbox.pgp_enabled() %}
         disabled-content{% endif %}">
        {% if mailbox.pgp_finger_print and not mailbox.disable_pgp and current_user.include_sender_in_reverse_alias and not mailbox.is_proton() %}

          <div class="alert alert-info">
            电子邮件标头（如<span class="italic">发件人、收件人、主题</span>）未通过 PGP 加密。
            目前，您的反向别名包含发件人地址。
            您可以在<a href="/dashboard/setting#sender-in-ra">设置</a>中禁用此功能。
          </div>
        {% endif %}
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <div class="d-flex">
                电子邮件加密 (PGP)
                {% if mailbox.pgp_finger_print %}

                  <form method="post">
                    {{ csrf_form.csrf_token }}
                    <input type="hidden" name="form-name" value="toggle-pgp">
                    <label class="custom-switch cursor" style="padding-left: 1rem" data-toggle="tooltip" {% if mailbox.disable_pgp %}
                       title="启用 PGP" {% else %} title="禁用 PGP" {% endif %}>
                      <input type="checkbox" class="custom-switch-input" name="pgp-enabled" {{ "" if mailbox.disable_pgp else "checked" }}>
                      <span class="custom-switch-indicator"></span>
                    </label>
                  </form>
                {% endif %}
              </div>
              <div class="small-text mt-1">
                通过将您的 PGP 公钥导入 SimpleLogin，所有发送到 {{ mailbox.email }} 的电子邮件都将使用您的密钥进行
                <b>加密</b>。
                <br />
                {% if PGP_SIGNER %}所有转发的电子邮件都将使用 <b>{{ PGP_SIGNER }}</b> 进行签名。{% endif %}
              </div>
            </div>
            {% if not current_user.is_premium() %}

              <div class="alert alert-danger" role="alert">此功能仅在高级计划中可用。</div>
            {% endif %}
            <form method="post">
              {{ csrf_form.csrf_token }}
              <div class="form-group">
                <label class="form-label">PGP 公钥</label>
                <textarea name="pgp"
                          {% if not current_user.is_premium() %}disabled{% endif %}
                          class="form-control"
                          rows="10"
                          id="pgp-public-key"
                          placeholder="(将您的 pgp 公钥拖放或粘贴到此处)&#10;-----BEGIN PGP PUBLIC KEY BLOCK-----">{{ mailbox.pgp_public_key or "" }}</textarea>
              </div>
              <input type="hidden" name="form-name" value="pgp">
              <button class="btn btn-primary" name="action" {% if not current_user.is_premium() %}disabled{% endif %} value="save">保存</button>
              {% if mailbox.pgp_finger_print %}

                <button class="btn btn-danger float-right" name="action" value="remove">移除</button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      <div class="card" id="generic-subject">
        <form method="post" action="#generic-subject">
          {{ csrf_form.csrf_token }}
          <input type="hidden" name="form-name" value="generic-subject">
          <div class="card-body">
            <div class="card-title">
              隐藏电子邮件主题
              <div class="small-text mt-1">
                原始主题将添加到电子邮件正文中，所有转发的电子邮件都将具有通用主题。
                <br />
                此选项通常在启用 PGP 时使用。
                由于 PGP 不加密电子邮件主题，因此它可以进一步保护您的电子邮件内容。
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">通用主题</label>
              <input name="generic-subject"
                     class="form-control"
                     maxlength="78"
                     placeholder="这是一封加密的电子邮件"
                     value="{{ mailbox.generic_subject or "" }}">
            </div>
            <button class="btn btn-primary" name="action" value="save">保存</button>
            {% if mailbox.generic_subject %}

              <button class="btn btn-danger float-right" name="action" value="remove">移除</button>
            {% endif %}
          </div>
        </form>
      </div>
      <hr />
      <h2 class="h4">高级选项</h2>
      {% if spf_available %}

        <div class="card" id="spf">
          <form method="post">
            {{ csrf_form.csrf_token }}
            <input type="hidden" name="form-name" value="force-spf">
            <div class="card-body">
              <div class="card-title">
                强制 SPF
                <div class="small-text">
                  为了防止电子邮件欺骗，原邮邮箱 会阻止以下电子邮件
                  <em data-toggle="tooltip"
                    title="以您的邮箱作为发件人地址的电子邮件">似乎</em>来自您的
                    邮箱,
                    但发送自
                  <em data-toggle="tooltip"
                    title="您的邮箱电子邮件服务不知道的 IP 地址">未知</em>
                    IP 地址.
                  <br />
                  仅当您知道自己在做什么时才关闭此选项:)。
                </div>
              </div>
              <label class="custom-switch cursor mt-2 pl-0" data-toggle="tooltip" {% if mailbox.force_spf %}
                 title="Disable SPF enforcement" {% else %} title="启用 SPF 强制执行" {% endif %}>
                <input type="checkbox" name="spf-status" class="custom-switch-input" {{ "checked" if mailbox.force_spf else "" }}>
                <span class="custom-switch-indicator"></span>
              </label>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="card" id="authorized-address">
        <div class="card-body">
          <div class="card-title">
            授权邮箱地址
            <div class="small-text">
              从这些地址发送到<b>反向别名</b>的电子邮件将被视为来自 {{ mailbox.email }}
            </div>
          </div>
          {% if mailbox.authorized_addresses | length == 0 %}

          {% else %}
            <ul>
              {% for authorized_address in mailbox.authorized_addresses %}

                <li>
                  {{ authorized_address.email }}
                  <form method="post" action="#authorized-address" style="display: inline">
                    {{ csrf_form.csrf_token }}
                    <input type="hidden" name="form-name" value="delete-authorized-address">
                    <input type="hidden"
                           name="authorized-address-id"
                           value="{{ authorized_address.id }}">
                    <input type="submit" class="btn btn-sm btn-outline-warning" value="删除">
                  </form>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          <form method="post" action="#authorized-address" class="form-inline">
            {{ csrf_form.csrf_token }}
            <input type="hidden" name="form-name" value="add-authorized-address">
            <input type="email" name="email" size="50" class="form-control" required>
            <input type="submit" class="btn btn-primary" value="添加">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/static/js/utils/drag-drop-into-text.js"></script>
  <script>
    $(".custom-switch-input").change(function (e) {
      $(this).closest("form").submit();
    });
    enableDragDropForPGPKeys('#pgp-public-key');
  </script>
{% endblock %}
