{% extends "default.html" %}

{% set active_page = "mailbox" %}
{% block title %}收件邮箱{% endblock %}
{% block default_content %}

  <div class="row">
    <div class="col">
      <h1 class="h3">
        收件邮箱
        <a class="ml-3 text-info"
           style="font-size: 12px"
           data-toggle="collapse"
           href="#howtouse"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
          如何使用 <i class="fe fe-chevrons-down"></i>
        </a>
      </h1>
      {% if not current_user.is_premium() %}

        <div class="alert alert-danger" role="alert">此功能仅在高级计划中可用。</div>
      {% endif %}
      <div class="alert alert-primary collapse {% if mailboxes|length == 1 %}show{% endif %}" id="howtouse" role="alert">
        <em>收件邮箱</em> 只是另一个个人电子邮件地址。创建新别名时，您可以选择
        <em>拥有</em>此别名的邮箱，即：
        <br />
        - 发送到此别名的所有电子邮件都将转发到此邮箱
        <br />
        - 从此邮箱，您可以从别名回复/发送电子邮件。
        <br />
        <br />
        当您注册时，将自动创建一个邮箱，其中包含您的电子邮件 <b>{{ current_user.email }}</b>
        <br />
        <br />
        邮箱也不一定必须是您的电子邮件：如果您想为您的好友创建别名，它可以是您朋友的电子邮件。
      </div>
      <div class="row">
        {% for mailbox in mailboxes %}

          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  {{ mailbox.email }}
                  {% if mailbox.verified %}

                    <span class="cursor"
                          data-toggle="tooltip"
                          data-original-title="收件邮箱已验证">✅</span>
                  {% else %}
                    <span class="cursor"
                          data-toggle="tooltip"
                          data-original-title="收件邮箱未验证">🚫</span>
                  {% endif %}
                  {% if mailbox.pgp_enabled() %}

                    <span class="cursor"
                          data-toggle="tooltip"
                          data-original-title="PGP 已启用">🗝</span>
                  {% endif %}
                  {% if mailbox.id == current_user.default_mailbox_id %}

                    <div class="badge badge-primary float-right"
                         data-toggle="tooltip"
                         title="创建新的随机别名时，它属于默认邮箱">
                      默认收件邮箱
                    </div>
                  {% endif %}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  创建于 {{ mailbox.created_at | dt }}
                  <br />
                  <span class="font-weight-bold">{{ mailbox.nb_alias() }}</span> 个别名.
                  <br />
                </h6>
                <a href="{{ url_for('dashboard.mailbox_detail_route', mailbox_id=mailbox.id) }}">编辑
                ➡</a>
              </div>
              <div class="card-footer p-0">
                <div class="row">
                  {% if mailbox.verified %}

                    <div class="col">
                      <form method="post">
                        {{ csrf_form.csrf_token }}
                        <input type="hidden" name="form-name" value="set-default">
                        <input type="hidden" class="mailbox" value="{{ mailbox.email }}">
                        <input type="hidden" name="mailbox_id" value="{{ mailbox.id }}">
                        <button class="card-link btn btn-link {% if mailbox.id == current_user.default_mailbox_id %}disabled{% endif %}">设置成默认收件邮箱</button>
                      </form>
                    </div>
                  {% endif %}
                  <div class="col">
                    <form method="post">
                      {{ delete_mailbox_form.csrf_token }}
                      <input type="hidden" name="form-name" value="delete">
                      <input type="hidden" class="mailbox" value="{{ mailbox.email }}">
                      <input type="hidden" name="mailbox_id" value="{{ mailbox.id }}">
                      <select hidden name="transfer_mailbox_id" value="">
                        <option value="-1">删除这些别名</option>
                        {% for mailbox_opt in mailboxes %}

                          {% if mailbox_opt.verified and mailbox_opt.id != mailbox.id %}

                            <option value="{{ mailbox_opt.id }}">将别名转移至 {{ mailbox_opt.email }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      <span class="card-link btn btn-link text-danger float-right delete-mailbox {% if mailbox.id == current_user.default_mailbox_id %}disabled{% endif %}">删除</span>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <form method="post" class="mt-2">
        {{ new_mailbox_form.csrf_token }}
        <input type="hidden" name="form-name" value="create">
        <h2 class="h4">新的 收件邮箱</h2>
        {{ new_mailbox_form.email(class="form-control", placeholder="email@example.com") }}
        {{ render_field_errors(new_mailbox_form.email) }}
        <div class="small-text mt-2">邮箱不能是一次性的或者转发的电子邮件地址。</div>
        <button class="btn btn-primary mt-2">创建</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}

  <script>
        $(".delete-mailbox").on("click", function (e) {
            let mailbox = $(this).parent().find(".mailbox").val();

            let new_mailboxes = $(this).parent().find("select[name='transfer_mailbox_id']").find("option")
            let inputOptions = new_mailboxes.map((index, option) => { return {["value"]: option.value, ["text"]: option.text}}).toArray()

            let that = $(this);
            let message = `邮箱 <b>${mailbox} 拥有的所有别名也将被删除。<br>` +
                "您也可以选择将它们转移到其他的收件邮箱：<br><br>";

            bootbox.prompt({
                title: '<b>删除 收件邮箱</b>',
                message: message,
                value: ["-1"],
                inputType: 'select',
                inputOptions: inputOptions,
                buttons: {
                    confirm: {
                        label: '确认删除',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-outline-primary mr-auto'
                    }
                },
                callback: function (result) {
                    if (result) {
                        that.closest("form").find("select[name='transfer_mailbox_id']").val(result)
                        that.closest("form").submit();
                    }
                }
            })
        });
  </script>
{% endblock %}
