{% extends "default.html" %}

{% set active_page = "setting" %}
{% block title %}恢复代码{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">恢复代码</h1>
      <p>
        如果您无法访问身份验证器应用，您可以使用其中一个恢复代码再次访问
        您的帐户。
        每个代码只能使用一次，请确保将其存储在安全的地方。
      </p>
      <p class="alert alert-warning">
        <strong>
          如果您之前有恢复代码，它们已失效。
          请将这些代码存放在安全的地方。您将无法再次检索它们！
        </strong>
      </p>
      <ul>
        {% for recovery_code in recovery_codes %}<li>{{ recovery_code }}</li>{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
