{% extends "default.html" %}

{% block title %}隔离{% endblock %}
{% block head %}

  <style>
  li {
      margin-top: 8px;
  }
  </style>
{% endblock %}
{% set active_page = "setting" %}
{% block default_content %}

  <div class="col">
    <h1 class="h3 mb-5">隔离和退信</h1>
    <div class="alert alert-info">
      本页显示所有被您的邮箱拒绝（退回）或被我们的系统检测为垃圾邮件/钓鱼邮件（隔离）的电子邮件。
      <ul class="p-4 mb-0">
        <li>
          如果该电子邮件确实是垃圾邮件，则意味着该别名现在已落入垃圾邮件发送者的手中，
          您可能应该<b>禁用</b>该别名。
        </li>
        <li>
          如果电子邮件不是垃圾邮件，而您的邮箱拒绝该电子邮件，我们建议将原邮邮箱的域名加入白名单，以避免您的邮箱提供商阻止合法电子邮件。
        </li>
        <li>
          如果电子邮件被标记为垃圾邮件/网络钓鱼，则意味着发件人明确表示他们的电子邮件应该遵守
          <b>DMARC</b>（电子邮件身份验证协议）
          并且任何违反此协议的电子邮件都应被隔离或拒绝。如果可能，请联系发件人
          以便他们可以更新其 DMARC 设置或修复导致 DMARC 故障的 SPF/DKIM。
          他们的邮件可能也被其他电子邮件提供商拒绝或最终成为垃圾邮件。
        </li>
      </ul>
    </div>
    {% if email_logs|length == 0 %}

      <div class="my-4 p-4 card">您没有任何处于隔离/退回状态的电子邮件。</div>
    {% endif %}
    {% for email_log in email_logs %}

      {% set refused_email = email_log.refused_email %}
      {% set contact = email_log.contact %}
      {% set alias = contact.alias %}
      <div class="card p-4 shadow-sm {% if email_log.id == highlight_id %}highlight-row{% endif %}">
        <div class="small-text">
          发送 {{ refused_email.created_at | dt }}
          {% if email_log.bounced %}

            <span class="badge badge-info">退信</span>
          {% else %}
            <span class="badge badge-warning">隔离</span>
          {% endif %}
        </div>
        {% if email_log.is_reply %}

          从: {{ alias.email }}
          <br />
          发送至: {{ contact.website_email }}
        {% else %}
          从: {{ contact.website_email }}
          <br />
          <span>
            发送至: {{ alias.email }}
            <a href='{{ url_for("dashboard.index", highlight_alias_id=alias.id) }}'
               class="text-danger small-text"
               style="text-decoration: underline">禁用别名</a>
          </span>
        {% endif %}
        {% if refused_email.deleted %}

          <div class="mt-6" style="font-weight: 600">电子邮件删除于 {{ refused_email.delete_at | dt }}</div>
        {% else %}
          <a href="{{ refused_email.get_url() }}"
             download
             class="btn btn-outline-primary mt-4"
             style="max-width: 20em">下载 →</a>
          <div class="small-text">这将下载一个“.eml”文件，您可以在电子邮件客户端中打开该文件。</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
