{% extends "default.html" %}

{% set active_page = "dashboard" %}
{% block title %}停用别名{% endblock %}
{% block default_content %}

  <div class="card">
    <div class="card-body">
      <h1 class="h3">停用别名</h1>
      <p>
        您即将停用该别名
        <a href="mailto:{{ alias }}" target="_blank">{{ alias }}</a>
      </p>
      <p>
        此后，您将不再收到发送到此别名的所有电子邮件，请确认。您始终可以重新激活它，直到您决定删除它为止。
      </p>
      <form method="post">
        <button class="btn btn-warning">确认</button>
      </form>
    </div>
  </div>
{% endblock %}
